[2019-09-28 07:01] PoorPocketsMcNewHold opened #1 "Fix the typo on Invidious, on the Github description and the Chrome store page."
Those are misspelled as Invideus, despite being correctly written on the README.md and on the Firefox extension description page.

[2019-09-28 07:07] PoorPocketsMcNewHold opened #2 "Add the possibility to configure custom Nitter and Invidious instances."
Making the extension redirect to other instances of [Nitter](https://github.com/zedeus/nitter/wiki/Instances) and [Invidious](https://github.com/omarroth/invidious/wiki/Invidious-Instances) should be pretty easy to do, as you only really need to replace the nitter and invidious instance name by the one chosen by the user.
However, a setting extension page for it still need to be done.

[2019-09-28 07:21] SimonBrazell commented on #1
Hi @PoorPocketsMcNewHold, yes I noticed this, fixed it on firefox, but for Chrome I need to submit another build to address it.

[2019-09-28 07:22] SimonBrazell commented on #2
This is a great idea, I'll look into adding it.

[2019-09-28 07:23] SimonBrazell commented on #2
Was actually thinking of adding a menu to allow the user to disable the redirects if they like too.

[2019-09-29 00:56] SimonBrazell commented on #2
Do you think this should be a list of predefined instances or a text field for entering whatever instance they want?

[2019-09-29 13:19] SimonBrazell commented on #1
Fixed this with a new package upload to the Chrome store, should be live in the next hour or so.

[2019-09-29 13:19] #1 closed

[2019-09-30 14:34] PoorPocketsMcNewHold commented on #1
![Capture d'écran Deepin_zone de sélection _20190930163400](https://user-images.githubusercontent.com/13170204/65888648-29f97e80-e3a0-11e9-8531-be963f34cda6.png)
Forgot that one.

[2019-09-30 14:35] PoorPocketsMcNewHold commented on #2
Well, I think predefined Instances should be better. It may cause some issues when some instances dissapears or when the list isn´t updated, but it shouldn´t change that heavily to be honest.

[2019-10-01 09:00] SimonBrazell commented on #2
I'll make it a text field for now that way the user can add whichever instance they like and we don't have to a maintain a list in the extension.

[2019-10-07 12:06] SimonBrazell commented on #2
Finally got around to doing this, pushed up to the stores, let me know what you think.

[2019-10-07 12:06] #2 closed

[2019-10-07 12:15] moppman commented on #2
Great work!
Unfortunately, the twitter redirection doesn't work at all for me in Firefox 69.0.1

[2019-10-07 13:03] SimonBrazell commented on #2
@moppman, that's strange, wonder if there is anything I can do to stop this behavior in the future, might need to read up on the Firefox API a bit more. Thanks for the update and workaround!

[2019-11-26 12:41] treble2019 opened #4 "Could you please create two separate extensions"
Would be nice to have 2 separate extensions one for nitter and one for invidio.us. Mainly because we have lots of issues with youtube very slow/not loading sometimes from  invidio.us.

Thanks

[2019-11-27 07:48] SimonBrazell commented on #4
Hi @treble2019, I've made one for Nitter already, you can find it [here](https://github.com/SimonBrazell/nitter-redirect). But if you are having issues with slow load times for invidio.us you could try one of the other [instances](https://github.com/omarroth/invidious/wiki/Invidious-Instances) to see if they are faster for you.

Are you running the latest version of this extension from the stores?

[2019-12-12 03:31] SimonBrazell commented on #4
Haven't heard from you so I'm closing this for now, let me know if you still have an issue.

[2019-12-12 03:31] #4 closed

[2019-12-23 12:15] Daedren opened #5 "Twitter without subdomain doesn't redirect to Nitter"
If I access `https://www.twitter.com/`, the extension redirects me to Nitter without a problem.

However, if I access `https://twitter.com`, it doesn't.
The console yields the following error
[code]

Browser info:

Vivaldi | 2.9.1705.41 (Stable channel) (64-bit)
-- | --
Revision | ce637bfd730e6b2e549bf8def38f849e1a26bd3b
OS | Windows 10 OS Version 1703 (Build 15063.2078)
JavaScript | V8 7.8.279.23

[2019-12-25 13:23] Daedren commented on #5
Can also replicate on Firefox.

Name | Firefox
-- | --
Version | 72.0b9
Build ID|20191219234059
Update Channel |aurora
User Agent |Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:72.0) Gecko/20100101 Firefox/72.0
OS |Windows_NT 10.0
Launcher Process|Enabled
Multiprocess Windows |2/2 Enabled by default
Remote Processes|10
Enterprise Policies|Inactive
Safe Mode|false

[2019-12-27 00:57] SimonBrazell commented on #5
Hello @Daedren sorry I've been away for the holidays, thanks for the heads up I'll look into this over the next week. Cheers!

[2020-01-02 03:17] SimonBrazell commented on #5
@Daedren I can't replicate this on Chrome or Firefox, navigating to twitter.com redirects to nitter.net as expected with no errors shown in the console. Perhaps the issue you are experiencing is due to some other problem with the browser config you are using?

[2020-01-02 03:34] SimonBrazell commented on #5
Looking at the error message you posted it looks to be caused by something in the `nitter.net` site Content Security Policy, I don't believe this issue is related to the extension.

Have you tried it with other Nitter [instances](https://github.com/zedeus/nitter/wiki/Instances) as well?

[2020-01-02 16:54] Daedren commented on #5
Yep, doesn't work either. Tried disabling all my extensions as well.

I figured it out though, I was signed into Twitter.
nce I logged out, the redirect started working on the links without a subdomain.

[2020-01-02 18:35] funnyflowerpot opened #6 "Embedded videos don't work"
Hello!

First, thank you for this handy add-on! Combining redirects to those sites into one add-on is really awesome. Please keep up the good work!

For a while now I have problems with embedded videos. They are not shown, I only get a black rectangle. Please find example output from the Firefox developer console below. I get such and similar output from different pages, varying in the number of r

[2020-01-03 00:34] SimonBrazell commented on #6
Hello @funnyflowerpot!

Thanks for the feedback and code examples, I'll see what I can put together, this plugin is still pretty basic, I'll put some more time into working out this issue.

Do you happen to have the URL of the original page that includes the broken embedded videos that I can use for troubleshooting and testing the fix? I'm sure I can find one myself but I want to make sure I'm add

[2020-01-03 00:38] SimonBrazell commented on #5
Hmm yeah that sounds about right actually, I just haven't experienced it since I never login to Twitter myself, I don't think Nitter handles this situation, I'll have a look on their repo and some other extensions though to see if there is a workaround I can use.

[2020-01-12 12:28] ToughGuyKunio opened #7 "YouTube: links to channels without /channel/ doesn't works"
Links to channel pages like `https://www.youtube.com/pewdiepie` doesn't work, only links with _/channel/_ or _/user/_, like `https://www.youtube.com/channel/pewdiepie` works.

[2020-01-12 12:30] ToughGuyKunio commented on #6
I have the same issue, example on: https://www.reddit.com/r/videos/

[2020-01-12 18:09] funnyflowerpot commented on #6
Hey @SimonBrazell, thanks for the response.

I rechecked and I believe this applies to any embedded video. I confirm the example by @ToughGuyKunio. You can seem to pick any video, like [this](https://pages.github.com/) or [this (click on "Get started")](https://joinmastodon.org/) for example.

[2020-01-14 02:32] SimonBrazell commented on #7
Thanks @ToughGuyKunio I'll look into this.

[2020-01-14 02:39] SimonBrazell commented on #6
@funnyflowerpot looks to be specific to Firefox, I just visited the [link](https://www.reddit.com/r/videos/) supplied by @ToughGuyKunio above using Ungoogled Chromium and the embedded videos load, although not all, some display this message - `The media could not be loaded, either because the server or network failed or because the format is not supported.`

I'm still not sure what the root cause

[2020-01-14 05:01] SimonBrazell commented on #7
This seems to be an issue with Invidious as I can see the plugin is redirecting `https://www.youtube.com/pewdiepie` => `https://invidio.us/pewdiepie` as it should but then invidio.us isn't handling it properly and just defaulting to the homepage instead.

[2020-01-14 05:07] SimonBrazell commented on #7
You can confirm this by just navigating to [https://invidio.us/pewdiepie](https://invidio.us/pewdiepie), bypassing the extension, still exhibits the undesired behaviour.

[2020-01-14 07:44] ToughGuyKunio commented on #6
I just confirmed that embedded videos works (on Firefox) with this extension: https://github.com/hutattedonmyarm/invidious-redirect if that helps

[2020-01-14 08:00] ToughGuyKunio commented on #6
I tried this [Invidious Redirect extension fork](https://addons.mozilla.org/en-US/firefox/addon/invidious-redirect-2/) ([code](https://github.com/hutattedonmyarm/invidious-redirect)). I use Firefox 72 on Manjaro Linux. All embedded videos works (except those that don't work on main invidio.us site). If it helps.

[2020-01-14 11:58] SimonBrazell commented on #6
Thanks @ToughGuyKunio, I tried a few variations on that code you posted just now to no avail, might need to spend some more time on this to figure it out. One difference I can see is that the background script on the other repo listens for requests from `all urls` and only for `main_frame` and `sub_frame` types while this extension listens for only targeted domains and more types so perhaps there

[2020-01-15 04:07] SimonBrazell commented on #6
Okay so it seems I can fix this by listening for `"<all_urls>"` instead of the current targeted list:

 `"*://twitter.com/*", "*://www.twitter.com/*", "*://mobile.twitter.com/*", "*://youtube.com/*", "*://www.youtube.com/*", "*://youtube-nocookie.com/*", "*://www.youtube-nocookie.com/*", "*://m.youtube.com/"`

And limiting the request types to `"main_frame", "sub_frame"` instead of:

`"main_frame"

[2020-01-15 06:04] SimonBrazell commented on #6
Found the problem, I misinterpreted the way that the `browser.webRequest.onBeforeRequest.addListener()` filters worked.

Because I am only listening for requests from specific domains (`twitter.com`, `youtube.com`, etc.) I am missing any requests from iframes that are embedded within another site as they originate from whichever site they are embedded in and so aren't matched by my filters. Even t

[2020-01-15 06:44] SimonBrazell commented on #6
New version (v1.1.3) that includes that change is pending review on the stores. Please let me know if you encounter any issues with it.

[2020-01-15 20:32] ToughGuyKunio commented on #7
Seems omarroth fixed this, works for me now.

[2020-01-15 20:43] ToughGuyKunio commented on #6
It works for me now, thanks a lot!

[2020-01-15 21:14] SimonBrazell commented on #7
Good stuff! Thanks for following this up with them.

[2020-01-15 21:14] #7 closed

[2020-01-15 21:17] SimonBrazell commented on #6
Glad to hear, lets hope that it gets approved on the Chrome store now, changing the permissions means it has to go through the review process... still waiting for it to be reviewed.

[2020-01-15 21:17] #6 closed

[2020-01-18 00:45] SimonBrazell commented on #5
Closing as this is a limitation of Nitter, not the extension. For now I'd suggest disabling Nitter redirects if you want to use Twitter account features, or logging out like you mentioned. One thing I could do is try to fix the 'Open in Twitter' feature so it works with this extension, I think to do that I'd need to maintain a list of Nitter instances and check for requests to Twitter from them an

[2020-01-18 00:45] #5 closed

[2020-01-20 12:12] funnyflowerpot commented on #6
Thanks a lot @SimonBrazell for the quick responses! Works for me, too!

[2020-01-20 12:15] SimonBrazell commented on #6
No worries, just noticed the update went live on the Chrome store today also.

[2020-01-29 17:02] erotavlas-turbo opened #8 "Add support to bibliogram"
Hi,
your extension is very useful. Please add support to [bibliogram](https://bibliogram.art) (instagram alternative front-end).

[2020-01-29 21:39] SimonBrazell commented on #8
Didn't know about bibliogram, I'll definitely add support for it!

[2020-02-01 03:44] SimonBrazell commented on #8
Created a new release (v1.1.4) that includes support for Bibliogram redirects, currently pending review and release on the stores.

Let me know what you think.

[2020-02-01 03:44] #8 closed

[2020-02-05 04:22] SimonBrazell commented on #8
Google knocked back the submission on the Chrome Webstore for some trivial reasons, so if you are waiting on the Chromium release it might be a while longer, see how I go with the resubmission...

[2020-02-08 02:29] narFnarF opened #9 "Avoid redirecting studio.youtube.com"
I wonder if it would be possible to add an exception so that links to studio.youtube.com would not redirect to invidious.

As the owner of a channel, I would like to be able to keep editing my videos and livestreams.

Here's some example URLs
* https://studio.youtube.com/channel/UC45wqb_2-hGWlhWJp_XipkQ
* https://studio.youtube.com/channel/UC45wqb_2-hGWlhWJp_XipkQ/videos/upload
* https://studio.yo

[2020-02-08 02:42] narFnarF opened #10 "If the link to another instance has a trailing slash, the redirection fails"
This is a suggestion to help user avoiding mistakes when entering URL for alternate instances. The extension could be smart and ignoring the trailing slash character would.

**Steps to reproduce:**
1. Open the Privacy Redirect popup
1. Enter `https://nitter.snopyta.org/` in the Nitter Instance field (Notice the trailing slash `/` character)
1. Attempt to open twitter.com

**Current result:**
It at

[2020-02-08 02:49] SimonBrazell commented on #9
Hi @narFnarF, this sounds like a great idea, I think any feature that isn't implemented in the alternative front-ends should not be redirected, and this seems like a good candidate for that rule.

Do you think anyone would ever have a reason to redirect `studio.youtube.com/...` to the alternative? If not I wouldn't bother with the setting I think.

[2020-02-08 02:55] SimonBrazell commented on #10
Yeah I've noticed this, and it has been reported by another user on the FF store. There is currently no validation on the instance inputs so you need to make sure you just include the domain and protocol, no trailing forward slashes. I'll fix this up in the next release.

[2020-02-08 02:58] SimonBrazell commented on #10
Also I noticed in the screenshot that you are running v1.1.4, I made a mistake in that release that broke some Invidious redirects as it didn't include the query strings in the redirect, this is resolved in v1.1.5 if you are experiencing that problem.

[2020-02-08 02:59] SimonBrazell commented on #10
Hmm actually, I think I forgot to update the version number in that build... as it was a quick one to fix that problem... damn.

[2020-02-09 00:51] SimonBrazell commented on #9
Included in [v1.1.6](https://github.com/SimonBrazell/privacy-redirect/releases/tag/v1.1.6), which is currently pending release on the stores.

[2020-02-09 00:51] #9 closed

[2020-02-09 00:55] SimonBrazell commented on #10
Included in [v1.1.6](https://github.com/SimonBrazell/privacy-redirect/releases/tag/v1.1.6), which is currently pending release on the stores.

There is now basic input validation which will highlight the input as red if validation is failed, and strip unnecessary characters like trailing forward slash characters on save automatically.

[2020-02-09 00:55] #10 closed

[2020-02-09 18:28] jwsp1 opened #11 "Possibility to only redirect youtube.com/watch links"
As much as I like the idea of invidio.us, I prefer seeing youtube's startpage in order to see trending videos list and to get better search results.
Would it be possible to add an option to only redirect youtube links that start with "youtube.com/watch[...]"?
This way, youtube startpage (youtube.com) and youtube search results (youtube.com/results[...]) come from youtube while the actual video pag

[2020-02-09 18:41] jwsp1 opened #12 "Limit read/edit browsing data permissions"
Privacy Redirect asks for read and edit permissions for all websites. This might frighten new users to use your extension since they are worried of being spied out...
I think this should be limited to the few sites that are listed in README only.

You might want to check out "Recordify Title Discover" extension on Chrome Extension Store (https://chrome.google.com/webstore/detail/recordify-title-di

[2020-02-09 22:46] SimonBrazell commented on #12
Hi @jwsp1 this actually was the original setup for this extension, however an increase in permissions was required to allow the redirection of embedded content within iframes, see issue #6.

[2020-02-09 22:50] SimonBrazell commented on #11
Perhaps this could be implemented as an advanced setting? Might get complicated trying to handle all the different cases.

[2020-02-10 00:32] narFnarF commented on #9
I think your assumption is correct. Worst case, someone else could open a ticket in the future.

Thanks for the fix! :)

[2020-02-10 00:35] narFnarF opened #13 "Avoid redirecting tweetdeck.twitter.com to nitter"
Similar to the other issue #9 regarding studio.youtube.com, the tweetdeck URL should probably not redirect to Nitter.

The faulty URL: https://tweetdeck.twitter.com/

Thanks!

[2020-02-10 05:44] atomGit opened #14 "feature: list instances"
might be more user friendly if all known instances for the services could be selected from a drop-down - [Booteille / Invidition · GitLab](https://gitlab.com/Booteille/invidition) does this for Invidious instances if you wanted to look at the code

[2020-02-10 06:35] SimonBrazell commented on #13
Sorry maybe a silly question (I don't actually use Twitter at all, just read things on it occasionally) what is the tweetdeck URL used for? Is it account specific stuff?

[2020-02-10 06:41] SimonBrazell commented on #14
Hi @atomGit great idea, perhaps a list of recommended instances could be displayed beneath the input when the input is in focus and is narrowed down as the user types, but still allowing manual input if someone has their own instance?

[2020-02-10 06:51] jwsp1 commented on #12
Well that's bad news :/ so there's probably nothing to do about it?

[2020-02-10 07:01] SimonBrazell commented on #14
How's this look, just grabbed all the existing instances from each of the repos:

![Screen Shot 2020-02-10 at 5 59 23 pm](https://user-images.githubusercontent.com/16571951/74127578-1eac3e80-4c2f-11ea-9292-12db11d4f259.png)

This solution still allows the user to enter one manually or edit an existing one if they like.

[2020-02-10 07:04] SimonBrazell commented on #12
No not without breaking embedded invidious videos.

I think the issue really only affects embedded videos though so perhaps standalone extensions for Nitter and Bibliogram would be a good idea? I already made one for [Nitter](https://github.com/SimonBrazell/nitter-redirect).

[2020-02-10 13:56] atomGit commented on #14
perfect Simon - i think users will appreciate this

[2020-02-10 16:04] jwsp1 commented on #11
If that's technically possible, I'd love to have an advanced setting for that :) but I can understand if it's too hard to implement.

[2020-02-10 16:28] jwsp1 commented on #12
I actually use your extension for YouTube-invidious redirects 😅 but I understand that it's not possible. Thanks for clarification

[2020-02-10 16:28] #12 closed

[2020-02-11 13:08] SimonBrazell commented on #11
Tried this out tonight, I don't think it's possible the way you would like it to work, it appears that when you navigate to a YouTube video from within the YouTube site, like after searching or from the homepage, it doesn't trigger the redirect and still loads the video in YouTube. Only seems to work correctly if I open the video link in a new tab. I assume this is because the site handles interna

[2020-02-11 13:11] jwsp1 commented on #11
That's what I thought. Some websites, like YouTube, actually don't reload the whole website again after clicking somewhere.
Thanks for trying :)

[2020-02-11 13:11] #11 closed

[2020-02-11 23:11] SimonBrazell commented on #14
Added to [v1.1.7](https://github.com/SimonBrazell/privacy-redirect/releases/tag/v1.1.7), currently pending release on the stores.

[2020-02-11 23:11] #14 closed

[2020-02-11 23:11] SimonBrazell commented on #13
Added to [v1.1.7](https://github.com/SimonBrazell/privacy-redirect/releases/tag/v1.1.7), currently pending release on the stores.

[2020-02-11 23:11] #13 closed

[2020-02-13 18:43] narFnarF commented on #13
It's a different website, that allow to log into multiple twitter account at once and see them all in multiple columns on 1 screen and post messages from multiple accounts at once. Its meant to be use by community managers with multiple accounts.

It looks like this:
https://duckduckgo.com/?q=twitterdeck&t=ffab&atb=v189-1&iax=images&ia=images&iai=https%3A%2F%2Fi.amz.mshcdn.com%2F0THLzrUYgUzK3GmA0X

[2020-02-13 23:26] SimonBrazell commented on #13
Oh right, yeah thanks, it's implemented now, let me know if there are any problems with it.

[2020-02-13 23:46] SimonBrazell commented on #11
Yeah sorry, I tried, if you want I could include it in the next build anyway so you can at least right click to open videos in Invidious?

[2020-02-18 11:32] ToughGuyKunio opened #15 "Add support for OpenStreetMap"
Add OpenStreetMap (OSM) as a privacy alternative to Google Maps (and potentially other map services).

[2020-02-18 12:00] ToughGuyKunio commented on #15
Here are some other projects with this function (haven't tested them yet):
https://framagit.org/tom79/nitterizeme
https://gitlab.com/MapSwitcher/mapswitcher
https://github.com/tankaru/OpenSwitchMaps

[2020-02-18 12:35] SimonBrazell commented on #15
Hi @ToughGuyKunio that's an excellent idea, I'll look into it.

[2020-02-18 16:18] jwsp1 commented on #11
Don't know if I would use it, to be honest. Guess I'll just have to get familiar with invidio.us start page :)

[2020-02-23 00:59] SimonBrazell commented on #15
This is a bit harder than I first thought, I think redirecting URLs won't be too much of a problem, almost got this working, but embedded maps seem to be a problem, not sure how to do this as it appears they are most often not just done using an iframe but rather by the Google Maps API instead.

[2020-02-23 01:05] SimonBrazell commented on #15
I found this [repo](https://github.com/tankaru/ReplaceG2O) which achieves the switch for iframe embedded maps might be a place to start. But I think for initial support I'll just do the URL redirection instead.

[2020-02-23 05:26] SimonBrazell commented on #15
@ToughGuyKunio I've pushed an update to a new branch entitled [osm-redirect](https://github.com/SimonBrazell/privacy-redirect/tree/osm-redirect), did you want to build the extension from this new branch and test it out in your browser? It's still a work in progress but I'd appreciate some feedback if you are able to.

[2020-02-24 05:41] SimonBrazell commented on #15
I pushed new Firefox build if you want to try that instead ([v1.1.10](https://addons.mozilla.org/en-US/firefox/addon/privacy-redirect/versions/)) couldn't get the embedded redirects working so I disabled them for now.

[2020-02-24 06:31] ToughGuyKunio commented on #15
Found this site to test a few different link types: https://stackoverflow.com/questions/1300838/how-to-convert-an-address-into-a-google-maps-link-not-map
The first ones work but these doesn't:
- https://maps.google.com/?ll=38.882147,-76.99017
- https://www.google.com/maps/search/?api=1&query=1200%20Pennsylvania%20Ave%20SE%2C%20Washington%2C%20District%20of%20Columbia%2C%2020003
- https://www.googl

[2020-02-24 07:40] SimonBrazell commented on #15
Hmm still needs some work, not sure how many different iterations there are of the URL scheme, thanks for the feedback @ToughGuyKunio let me know if you find any others.

[2020-02-24 08:27] SimonBrazell commented on #15
@ToughGuyKunio new version pushed to the [AMO](https://addons.mozilla.org/en-US/firefox/addon/privacy-redirect/versions/) (v1.1.11) should work for these URLs now.

[2020-02-24 08:28] SimonBrazell commented on #15
Do you happen to know where we could find a list of alternative OSM instances?

[2020-02-24 09:18] ToughGuyKunio commented on #15
Yes most seems to work now, just found one that I missed before that doesn't seem to work:
`https://www.google.com/maps/@LATITUDE,LONGITUDE,ZOOMNUMBERz?hl=LANGUAGE`
like: https://www.google.com/maps/@31.839472,54.361167,18z?hl=en

I'm not aware of any instances, I think it's run more like Wikipedia in that it doesn't really support instances.

Also, huge thanks for implementing this!

[2020-02-24 09:20] ToughGuyKunio commented on #15
Also this link with spaces only seems to work sometimes for me:
`https://www.google.com/maps/place/1200 Pennsylvania Ave SE, Washington, District of Columbia, 20003`

[2020-02-24 09:35] ToughGuyKunio commented on #15
Found this: https://developers.google.com/maps/documentation/urls/guide
Theres plenty of links there that doesn't work, here's a few:
- https://www.google.com/maps/search/?api=1&query=47.5951518,-122.3316393
- https://www.google.com/maps/dir/?api=1&origin=Space+Needle+Seattle+WA&destination=Pike+Place+Market+Seattle+WA&travelmode=bicycling
- https://www.google.com/maps/dir/?api=1&origin=Google+Pyr

[2020-02-24 09:36] SimonBrazell commented on #15
Yeah it looks like I made a mistake with the last build, broke some that were working before, just fixing it up now.

[2020-02-24 09:52] SimonBrazell commented on #15
Oh and some of those look to be directions links which I haven't handled at all yet.

[2020-02-24 10:05] ToughGuyKunio commented on #15
This seems to be something like instances: https://wiki.openstreetmap.org/wiki/Tile_servers

[2020-02-24 10:13] SimonBrazell commented on #15
@ToughGuyKunio I don't think the directions URLs are going to work, it seems OSM relies on latitude longitude values for `origin` and `destination` where as Google Maps can make use of queries / street addresses. Here is the URL that was generated by the plugin using [one of the above directions links](https://www.google.com/maps/dir/?api=1&origin=Google+Pyrmont+NSW&destination=QVB&destination_pla

[2020-02-24 10:27] SimonBrazell commented on #15
I think I'll need to do an address lookup from the plugin using OSM, if they have such an API, and use the results to populate the latitude longitude values. Not sure how accurate that would be even if it was possible though.

This is turning out to be a big job...

[2020-02-24 14:44] ToughGuyKunio commented on #15
Sadly I don't have any coding skills, otherwise I would help you out.

Minor possible improvement: In Google Maps zoom level seems to be indicated by `&z=16` and in OSM I think it is `&zoom=16`. Adding zoom level could make the results a little closer.

I've added some checkboxes to keep track on what URLs currently work.

[2020-02-24 23:02] SimonBrazell commented on #15
Thanks @ToughGuyKunio this all actually helps a lot, hopefully by the end we will have a fairly robust solution.

I grab the zoom level from the Google link if available, most of the time it appears to not be present though so perhaps I can add `17` as the default as you suggest.

Also on the API solution I mentioned above the extension will have to make a request to the OSM geocoding service to g

[2020-02-25 11:24] SimonBrazell commented on #15
@ToughGuyKunio released a new version (1.1.12) on [AMO](https://addons.mozilla.org/en-US/firefox/addon/privacy-redirect/versions/) which includes support for directions and embeds, although the embeds may need some more work...

[2020-02-25 11:48] ToughGuyKunio commented on #15
Nice! I've updated the checkboxes for all links.

[2020-02-25 12:01] SimonBrazell commented on #15
Queries don't seem to display as a marker on OSM, just a map centred on that location.

I don't think there is an equivalent on OSM to load up a map at your current location, I know there is a button to the right that allows it but I don't think there is a way to do it via a URL.

Yeah I still need to look at the zoom stuff, try default it to something if it's not present.

[2020-02-25 12:45] SimonBrazell commented on #15
New version should be live on AMO shortly with the default zoom (17) and a fix for the embedded maps, noticed that they weren't showing the bounds correctly.

[2020-02-25 16:01] ToughGuyKunio commented on #15
I can't seem to get any embedded maps to load in Firefox, might be my configuration.
I get this warning on jsfiddle, the others are just blank:

Here's what I've tested:
- [ ] https://jsfiddle.net/puj41bgs/1/ - My own examples with three different maps, I'm not sure how to do the @cordinates with embedding
- [ ] https://elfsight.com/blog/2018/06/google-maps-not-working-website/#demo
- [ ] https://

[2020-02-25 20:21] ToughGuyKunio opened #16 "Add support for Search Providers"
Another redirect idea :smile:
Edit: updated with search providers

# Potential search providers:
These are all privacy focused.
- [Searx](https://searx.me/)
- [DuckDuckGo](https://duckduckgo.com/)
- [Qwant](https://www.qwant.com/)
- [MetaGer](https://metager.org/)
- [Swisscows](https://swisscows.com/)
- [Mojeek](https://www.mojeek.com/)
- [YaCy](https://yacy.net/)
- [Startpage.com](https://www.sta

[2020-02-25 20:23] ToughGuyKunio commented on #16
Some code that might help: https://github.com/allanburleson/duckduckgo-redirect (for DuckDuckGo, couldn't find any for Searx)

[2020-02-25 22:47] SimonBrazell commented on #15
Support for embedded maps only works with Google's [Maps Embed API](https://developers.google.com/maps/documentation/embed/start) (using `/embed`) at the moment, and there is a caveat - URLs that use a `place_id` rather than a lat,lon or query value don't work as there is no way for me to translate this into an actual address without using a Google service.

Try one like this [https://www.google.c

[2020-02-25 22:55] SimonBrazell commented on #15
Yes the problem here is that OSM has set options in the header of their responses that don't allow their site to be loaded in an iframe, the only way to load their site in an iframe is by using their `export/embed` endpoint, which I'm only redirecting for if the Google URL includes `/embed`. I wonder what kind of embeds are typically used on sites around the web, had trouble actually finding a rea

[2020-02-26 07:59] ToughGuyKunio commented on #15
Your link worked fine!

Might not be worth all the effort, I don't think embedded Google Maps are that common. I too had trouble finding any :smile:

I went back too https://developers.google.com/maps/documentation/urls/guide to check regular URL redirects. Most work now. Here's a couple of ideas:

## Street view redirect:

https://developers.google.com/maps/documentation/urls/guide#street-view-ex

[2020-02-26 13:10] rezad1393 opened #17 "support for other youtube addresses"
can this addon support the other youtube addresses like https://youtu.be and other shortcuts for it.

[2020-02-26 22:45] SimonBrazell commented on #17
Hello @rezad1393 it should work with YouTube.be addresses, do you have a specific one you're trying?

[2020-02-26 22:51] SimonBrazell commented on #16
Do you think this would be worth the effort though, given most browsers support changing you search provider internally anyway?

[2020-02-26 22:53] SimonBrazell commented on #15
Thanks @ToughGuyKunio I'll look into Street view and layers too.

[2020-02-26 23:04] SimonBrazell commented on #17
No you're right it doesn't match that domain, I'll fix it up now.

[2020-02-26 23:04] SimonBrazell commented on #17
Let me know if you come across any others.

Cheers!

[2020-02-27 01:31] SimonBrazell commented on #17
I've deployed a new build (v1.1.14) which should address this issue, pending release on [AMO](https://addons.mozilla.org/en-US/firefox/addon/privacy-redirect/) and [Chrome Web Store](https://chrome.google.com/webstore/detail/privacy-redirect/pmcmeagblkinmogikoikkdjiligflglb). let me know if there are still any problem.

[2020-02-27 01:31] #17 closed

[2020-02-27 01:34] SimonBrazell commented on #15
@ToughGuyKunio new build released on AMO, includes support for layers, and that viewport workaround you suggested.

[2020-02-27 08:33] ToughGuyKunio commented on #16
Might not be. I'm thinking this would be useful for when you are on a non-google website and click on a Google search link. I'm not sure how many Google search URLs people come across. For me I guess it's more common than Gmaps embeds at least.

One somewhat common use case would be websites that use google as their site-specific search with a Google search box. I believe this is called [Google Cu

[2020-02-27 08:45] ToughGuyKunio commented on #15
Every redirect I've tried now works and I've got no more suggestions.
You can close the issue if you want. Thanks a lot!

[2020-02-27 09:03] SimonBrazell commented on #15
Awesome! Was actually pretty interesting to work on this one, I really like OSM now that I've learned a little more about it, certainly going to try use it in some other projects going forward.

Thanks heaps for the suggestion and help here, all your input was very helpful.

[2020-02-27 09:03] #15 closed

[2020-02-27 09:36] SimonBrazell commented on #16
I don't know how common random Google search links are in the wild but I have certainly come across custom searches, can even think of this [one](https://www.tonymacx86.com/search/3530798/?q=test&o=date) I've used recently to test the feature on.

I've not had great experience with Searx though, maybe I wasn't using it right but I remember getting some errors rather than search results, tend to us

[2020-02-27 09:47] ToughGuyKunio commented on #16
I've used it from time to time, I currently use DDG. The problem seems to be that you have to change instance a lot if you want Google/Bing/Startpage results to be included, I'm guessing it's because they block them. The instance I used which worked great most of the time was https://search.privacytools.io/ (no google results at the moment). At the moment [searx.info ](https://searx.info/?q=privac

[2020-03-02 14:20] The-Mer0vingian opened #18 "Add redirect for Google Search"
Hello, can you add auto redirect from Google to DuckDuckGo?

[2020-03-02 22:30] SimonBrazell commented on #18
Hi @The-Mer0vingian yes I was considering adding this feature, there is actually another issue open at the moment requesting the same thing but using Searx instead, so whichever solution I do add I'll try make it search engine agnostic.

[2020-03-03 18:07] 94b42c29dd opened #19 "Please do not add &local=true to every invidious url"
While this makes more videos work, it puts a lot of strain on the invidious instances. Every video will be pulled from the invidious instance instead of pulling it from Google's severs. If a lot of people do it, it will be infeasible for many instances to function correctly (or at all) because the demand of bandwidth will be incredibly high. It will affect the user negatively in the end.

[2020-03-03 23:21] SimonBrazell commented on #19
Perhaps if I was to make this an 'Advanced Option' instead, not set by default, putting the option in the settings page and not in the popup window?

[2020-03-04 13:14] 94b42c29dd commented on #19
Sure i don't think that would be a problem.

[2020-03-08 14:51] ToughGuyKunio opened #20 "Visiting youtube-dl.org redirects to invidious"
Found this bug in latest version: Visiting https://youtube-dl.org/ redirects to invidious.

[2020-03-09 23:50] SimonBrazell commented on #20
Thanks @ToughGuyKunio I'll look at fixing this and some other things mentioned here in the next release. Been busy with some other projects lately so haven't had much time available but I'll short this out as soon as I can. Cheers!

[2020-03-10 05:21] SimonBrazell commented on #19
This has been implemented in [v1.1.15](https://github.com/SimonBrazell/privacy-redirect/releases/tag/v1.1.15).

[2020-03-10 05:21] #19 closed

[2020-03-10 05:22] SimonBrazell commented on #20
Found a bit of time! This should be fixed now in [v1.1.15](https://github.com/SimonBrazell/privacy-redirect/releases/tag/v1.1.15).

[2020-03-10 05:22] #20 closed

[2020-03-12 15:13] narFnarF opened #21 "Incorrectly redirect pwnyoutube.com"
Hi again!

I found another incorrect redirection.

When trying to access `pwnyoutube.com` it redirects to invidious. I think it should not redirect and allow access to pwnyoutube normally.

For info, `pwnyoutube.com` is a useful way to access http://deturl.com which provides various tools and services that use youtube videos.

[2020-03-15 23:14] SimonBrazell commented on #21
Thanks @narFnarF I'll fix this up in the next build.

[2020-03-17 01:35] grravity opened #22 "Redirect Mobile Links"
Mobile links don't seem to redirect, at least in Twitter's case, I haven't tested the other sites.
For example, mobile.twitter doesn't redirect to nitter, but twitter redirects to nitter no issues as expected.

[2020-03-17 23:04] SimonBrazell commented on #22
Thanks @grravity I'll look into it, so it's just `mobile.twitter...` links that aren't redirecting?

[2020-03-17 23:26] SimonBrazell opened #23 "Privacy Redirect - Invidious video quality setting?"
Received via support email.

[2020-03-17 23:29] SimonBrazell opened #24 "Option to redirect youtube to invidious ONLY on embed video"
Received via Chrome web store user review.

[2020-03-18 06:06] ToughGuyKunio opened #25 "Firefox: scrollbars in popup"
Very minor cosmetic "issue" but in Firefox there are unnecessary scrollbars in the popup settings. In Brave/Chrome there are none.

[2020-03-19 10:46] SimonBrazell commented on #25
Hi @ToughGuyKunio, I haven't experienced this myself, would you mind posting a screenshot, which OS are you running?

[2020-03-20 06:33] ToughGuyKunio commented on #25
![privacyredirectscrollsbars](https://user-images.githubusercontent.com/12818876/77141333-6915ac00-6a74-11ea-9567-4554b219e7a0.png)

OS: Manjaro Linux
Browser: Firefox 74.0

I tested Firefox Developer Edition and there are scrollbars there too.

[2020-03-20 16:17] Kezxo opened #26 "Redirect direct links to images and videos on twitter"
If you open a link that leads to video.twimg.com or pbs.twimg.com the extension should redirect them to nitter.

To get examples just check the direct links to images or videos on any nitter tweet.

[2020-03-20 19:11] grravity opened #27 "Ability To Whitelist Sites"
Would like to request the ability to whitelist websites from redirecting, this is beneficial on sites that have trouble with Invidious in embeds and you don't mind them passing through, but want other sites to continue using the redirection.

One site in specific I find I have issues is cytube.
https://cytu.be/

[2020-03-20 19:13] grravity commented on #22
Again, haven't checked all the links for all the platforms, but I can confirm mobile.twitter was having issues

[2020-03-21 08:34] SimonBrazell commented on #26
Yes agreed, I've actually added these two hosts to the Twitter redirects in the build I'm currently working on, so it should be in the next release.

[2020-03-21 08:36] SimonBrazell commented on #27
This is a great idea, actually something I've had suggested before, it's a little more work to add than some of the stuff I'm planning for the next release, but certainly something I plan to include in the near future.

[2020-03-21 08:37] SimonBrazell commented on #25
No probs, I'll see if I can get rid of this in the next build.

[2020-03-21 09:59] SimonBrazell commented on #21
Should be fixed in [v1.1.16](https://github.com/SimonBrazell/privacy-redirect/releases/tag/v1.1.16).

[2020-03-21 09:59] #21 closed

[2020-03-21 10:00] SimonBrazell commented on #22
Should be fixed in [v1.1.16](https://github.com/SimonBrazell/privacy-redirect/releases/tag/v1.1.16).

[2020-03-21 10:00] SimonBrazell commented on #23
Added in [v1.1.16](https://github.com/SimonBrazell/privacy-redirect/releases/tag/v1.1.16).

[2020-03-21 10:00] #23 closed

[2020-03-21 10:01] SimonBrazell commented on #24
Added in [v1.1.16](https://github.com/SimonBrazell/privacy-redirect/releases/tag/v1.1.16).

[2020-03-21 10:01] #24 closed

[2020-03-21 10:01] SimonBrazell commented on #25
Should be fixed in [v1.1.16](https://github.com/SimonBrazell/privacy-redirect/releases/tag/v1.1.16).

[2020-03-21 10:01] SimonBrazell commented on #26
Should be fixed in [v1.1.16](https://github.com/SimonBrazell/privacy-redirect/releases/tag/v1.1.16).

[2020-03-21 10:01] #26 closed

[2020-03-21 14:20] ToughGuyKunio commented on #25
That seemed to fix it.

[2020-03-21 14:24] SimonBrazell commented on #25
Cheers!

[2020-03-21 14:24] #25 closed

[2020-03-27 07:20] stemy2 opened #28 "[Enhancement] Embed instagram content"
Hello,

Invidious redirection can embed videos, but bibliogram redirect can't, so instead of embedded images, we have this:
![Screenshot_20200327_081723](https://user-images.githubusercontent.com/22192600/77731748-6c241580-6ffb-11ea-8351-424639e7aab3.png)

[2020-03-28 23:39] SimonBrazell commented on #28
Hi @stemy2 , I'm not sure I follow what you are after here, so you have come across some embedded instagram content? If so can you post a link to it, I can use it for testing whatever solution we come up with here.

[2020-03-29 00:46] SimonBrazell commented on #22
@grravity I just released a [new version](https://github.com/SimonBrazell/privacy-redirect/releases/tag/v1.1.17) that proactively removes the Twitter service worker as I discovered it was interrupting some Nitter redirects, this may have been the cause of your issue, please re-test and let me know if it is still occurring.

Cheers!

[2020-03-29 10:35] matteqa opened #30 "Don't Redirect "View on ..." links"
When you click a View on YouTube link in Invidious it redirects back to invidious. It would be more useful if this actually went to YouTube as there is sometimes issues with some videos.

[2020-03-29 22:58] SimonBrazell commented on #30
Hi @matteqa, yes I agree, this should work, I'll include this in the next build.

To fix this I can compare the initiator URL to the list of instances on the invidious repo and not redirect from these. But that means it won't work for any private or unlisted instances but I'm not sure how many of those there are anyway.

[2020-03-30 02:42] SimonBrazell opened #31 "Add Firefox screenshots to AMO instead of Chrome"
Received via AMO store review.

[2020-03-30 03:05] #31 closed

[2020-03-30 08:12] ToughGuyKunio commented on #30
Wouldn't it be possible to compare the initiator URL to the instance variable set by the user to get private instances working?

[2020-03-30 08:35] SimonBrazell commented on #30
@ToughGuyKunio yes that's a much better idea, I'll do that instead.

Thanks for the coffees btw mate, very much appreciated.

[2020-03-31 04:14] SimonBrazell commented on #30
Please let me know if there are any problems with redirects in the [latest version](https://github.com/SimonBrazell/privacy-redirect/releases/tag/v1.1.18), this applies to Invidious, Nitter, and Bibliogram (OSM doesn't seem to have a similar feature).

Not released on Chrome yet as the previous release still hasn't been approved...

[2020-03-31 04:15] SimonBrazell commented on #18
Closing this in favour of #16

[2020-03-31 04:15] #18 closed

[2020-03-31 05:41] ToughGuyKunio commented on #30
No view on youtube/twitter/instagram links work for me. Tested on both custom and standard instances.

[2020-03-31 05:45] matteqa commented on #30
Same issue here, tried on Firefox 74 with v1.1.18 but didn't work for Invidious or Bibliogram (not sure what links to test on Nitter). Even with the custom variables set in the settings for the servers.

Servers tested:

invidio.us
invidious.snopyta.org
bibliogram.pussthecat.org

[2020-03-31 05:45] SimonBrazell commented on #30
Hmm seems the behaviour is different on each browser... sorry I'll look into it.

[2020-03-31 05:46] matteqa commented on #30
Also tried installing the ZIP in Brave but that gave an error (I assume because it's the Firefox build)

[2020-03-31 05:51] SimonBrazell commented on #30
No problem I think I've found the issue, seems Firefox doesn't have the initiator value, funny I thought it would be compatible with Chrome, I'll find the alternative and fix this up with a new build.

@matteqa I haven't tested the plugin on Brave, in theory it should work but will need a CRX file to load, you can unzip the FF archive and then `Load unpacked` when in `Developer mode`.

[2020-03-31 05:55] matteqa commented on #30
I unpacked the ZIP in the releases and added it in Developer mode but got this error:

Unrecognized manifest key 'browser_specific_settings'.

"browser_specific_settings": {
    "gecko": {
      "id": "{b7f9d2cd-d772-4302-8c3f-eb941af36f76}"
    }
  }

[2020-03-31 05:58] matteqa commented on #30
Removing that line from the manifest.json made it install but the redirects are still broken.

[2020-03-31 05:59] SimonBrazell commented on #30
@matteqa that should just be a warning, I get the same error on stock chrome but it still installs:

![Screen Shot 2020-03-31 at 4 57 59 pm](https://user-images.githubusercontent.com/16571951/77991955-ceb94080-7370-11ea-8e5f-9495ba357950.png)

See how it's a yellow warning symbol vs the red error. If that isn't the case then perhaps Brave handles extensions a little differently to Chromium.

[2020-03-31 06:01] matteqa commented on #30
For me it still was labelled as 1.1.16 in the extension until i removed the line. Odd that Brave handles it differently considering it's supposed to be standard Chromium underneath.

[2020-03-31 06:15] ToughGuyKunio commented on #30
I've been using the build from Chrome Store in Brave for a good while and had no problems with it.

[2020-03-31 06:19] SimonBrazell commented on #30
Must just be when trying to load unpacked extensions then, good to know.

I'm having issues with the Nitter 'View in Twitter' links, caused by another fix I added the other day that removes the Twitter service worker if present, it doesn't have access to the initiator like the background script does... Maybe I'll just push out the change for Invidious and Bibliogram for now?

[2020-03-31 06:21] matteqa commented on #30
The Chrome store version is working for me fine. Just had trouble installing this new version manually because Brave seems to handle warnings as errors.

Also it turns out the reason the View As links weren't working for me on Brave was because I had two versions of the extension installed. My fault.

[2020-03-31 06:22] SimonBrazell commented on #30
Oh cool, yeah it was working on Chromium for me, and I'm getting it working on Firefox now, I'll push up a new build shortly.

Thanks for your help!

[2020-03-31 06:28] SimonBrazell commented on #30
One other problem I've found with the way it's different on Firefox - if you click the watch on YouTube link, and then refresh that page on Chrome it redirects the page to Invidious like it should, but on Firefox it stays on Youtube... not sure if that will be a problem.

[2020-03-31 06:29] SimonBrazell commented on #30
Seems to work as expected if I copy the url to another tab though so at least the normal use cases aren't broken, so I think we are good to go, minus the Nitter links which I still need to work out.

[2020-03-31 06:30] matteqa commented on #30
Either way could be seen as expected behavior so i wouldnt worry about it

[2020-03-31 06:42] SimonBrazell commented on #30
Okay should be fixed now for Firefox in v1.1.19.

I've aborted the change for Nitter for now due to that other conflict I mentioned above.

[2020-03-31 06:58] SimonBrazell commented on #30
Let me know how you go.

@matteqa another Aussie 🦘👋

[2020-03-31 07:19] matteqa commented on #30
:wave:

[2020-03-31 07:20] matteqa commented on #30
Looks all good on my end!

Thanks for developing this extension btw, it's really useful.

[2020-03-31 07:25] SimonBrazell commented on #30
Awesome, I'll see if I can fix up the Nitter links in a future release!

No worries, it's a bit fun building and maintaining it, keeps me busy, especially lately when I'm stuck at home day and night!

[2020-03-31 09:09] ToughGuyKunio commented on #30
Works for me too :+1:

[2020-03-31 09:53] boriskieffer opened #32 "Redirect Google to startpage"
Hello,
You can redirect Google to startpage.com, since startpage.com is a proxy between Google and the user.
Results are practically the same, except the fact that startpage.com doesn't store anything about user in order to provide a better search.

https://support.startpage.com/index.php?/Knowledgebase/Article/View/184/22/why-do-i-get-different-results-with-startpagecom-than-google

[2020-03-31 23:26] SimonBrazell commented on #16
Changed the title to be more generic as whatever solution I go with will be search engine agnostic, allowing users to selected whichever provider they like.

[2020-03-31 23:29] SimonBrazell commented on #32
Hi @boriskieffer thanks for the suggestion, I am planning to add a feature that allows search engine redirects at some point, which will allow users to select whichever search engine they prefer, including StartPage.

I'm going to close this in favour of #16 which I'll leave open to track this feature.

Cheers!

[2020-03-31 23:29] #32 closed

[2020-03-31 23:30] SimonBrazell commented on #30
Thanks guys.

[2020-04-05 11:53] cloudrac3r opened #33 "Don't rewrite requests on the Instagram reserved URL list"
Hi, developer of Bibliogram here!

For a couple of months now my Bibliogram request logs have contained listings for rather strange URLs, and I've finally figured out what's causing them — your extension. There's a few things to explain here, so I'll start at the start to make sure we're all on the same page. There's a summary at the bottom of this page if you're really cool and already know every

[2020-04-05 13:03] cloudrac3r opened #34 "Randomise the Bibliogram instance on first install"
Developer of Bibliogram here, again.

To reduce the volume of requests from users to a single instance, I'd prefer if you randomly selected a trusted instance from a list as the default when someone first installs the extension.

I suggest choosing from this list:

- https://bibliogram.art
- https://bibliogram.snopyta.org
- https://bibliogram.pussthecat.org

However, you should contact the develop

[2020-04-06 00:48] SimonBrazell commented on #33
Hi @cloudrac3r thanks for the very detailed feedback and creating Bibliogram!

I'm sorry this extension has caused you grief, I'll do my best to sort these issues out as soon as I can. When I added support for Bibliogram to this extension it was on advice from one of the extension's users, they didn't give me much info to go on, so I basically just did it by trial and error, so I'm not surprised t

[2020-04-06 01:00] SimonBrazell commented on #34
Yes I can certainly do this, I'm thinking that I could store an array of instances in the extension and randomly pick one when the extension is installed, making it the default for that installation, otherwise it might get confusing for users if they are continually redirected to a different server each time. How does that sound?

On the matter of consent to use the servers I'm sorry again for not

[2020-04-06 01:02] cloudrac3r commented on #33
No problem.

Your choice. For things like embed.js and /accounts, I'd suggest not rewriting at all, and just letting the request go to Instagram. For things like /explore and /directory, you could either not rewrite, or you could send the user to a 404 page on Bibliogram. I can make a custom "this feature is not implemented" page if that helps. It's your choice in the end.

Why are paths from Bibl

[2020-04-06 01:16] cloudrac3r commented on #34
Good plan.

There's also the [instances API](https://github.com/cloudrac3r/bibliogram/wiki/API:-instances) that you could get data from if you wanted to, but seeing as the data comes from a publicly editable wiki, maybe it's not the best idea. I'll let you read that link and decide for yourself.

It's all good. They are listed on the public wiki for a reason. :D It would be _nice_ to ask people be

[2020-04-06 01:17] SimonBrazell commented on #33
I'm easy, for now I'll just redirect them to the 404 page, but if you fo include a "this feature is not implemented" page at some point I will use that instead.

Some of them probably aren't necessary, I'll have a closer look at this when I fix this all up.

Thank you! I will likely take you up on this 😀

[2020-04-06 01:25] SimonBrazell commented on #34
I noticed this last night, and the caveat about it being publicly editable, I think I'll just maintain a list in the extension for now, the users are free to refer to the wiki and enter a custom instance if they like anyway.

Point taken. This extension has kinda had a bump in popularity lately for some reason... let me know if there is anything else I can do to help with the load.

[2020-04-06 01:27] SimonBrazell commented on #28
@stemy2 I've only just been made aware of this, I will fix this up this week, instagram embeds will be bypassed for now and sent on to Instagram.

[2020-04-06 01:32] cloudrac3r commented on #33
Oh, please note that there is only ever one path element for profiles — /yyy could be a user page, but /yyy/zzz is definitely not. So I suggest not rewriting anything that has more than one path element.

[2020-04-06 01:39] SimonBrazell commented on #33
Okay thanks, I'll include a check for this in the redirect also.

[2020-04-06 03:16] Gymcap opened #35 "De-AMP links tainted by Google"
As many know, Googles attempt to rehost websites and normalize the AMP framework is a threat to not only our privacy, but the open internet as a whole.

It would be nice to have the extension make this a non-issue by automatically de-amp-ing any tainted links I happen to click on.

[2020-04-06 03:21] SimonBrazell commented on #35
Hi @Gymcap I can certainly look into it, do you have some examples of an AMP and de-Amp'd links I can look at?

[2020-04-06 08:04] cloudrac3r commented on #35
https://www.daniel.priv.no/web-extensions/amp2html.html

https://github.com/da2x/amp2html

[2020-04-07 04:29] SimonBrazell commented on #35
Thanks for the links @cloudrac3r, this feature seems like a worthy addition to the extension.

[2020-04-08 13:33] SimonBrazell commented on #33
Hi @cloudrac3r , pretty sure I've got a solution to this problem but I thought I should run it by you first:

- Only requests coming from the `main_frame` (a document that is loaded for a top-level frame), are redirected, so nothing coming from an iframe or script which should stop the extension breaking embeds as they are not currently implemented by Bibliogram anyway.
- `instagram.com`, `www.ins

[2020-04-09 00:07] cloudrac3r commented on #33
Sounds perfect!

[2020-04-09 02:23] SimonBrazell commented on #33
Cool I'll fix up the other issue you reported this afternoon and do a new build that includes the changes.

[2020-04-09 09:57] #28 closed

[2020-04-09 09:59] SimonBrazell commented on #33
Those changes should all be implemented in [v1.1.21](https://github.com/SimonBrazell/privacy-redirect/releases/tag/v1.1.21)

[2020-04-09 10:01] SimonBrazell commented on #34
This also has been added to [v1.1.21](https://github.com/SimonBrazell/privacy-redirect/releases/tag/v1.1.21).

[2020-04-09 20:13] jones137 opened #36 "Invidious URL parameters disappear + dark theme"
Unfortunately, Invidious seems to forget its URL parameters when navigating within it. To reproduce:

- go to youtube.com -> it redirects to invidio.us with 'local' and 'quality' parameters
- click on INVIDIOUS in the top left: it loads the main page again, but URL parameters are not there anymore. Same if you go to a video, channel etc.

So, not only YouTube links need to be redirected, but Invid

[2020-04-10 00:08] SimonBrazell commented on #36
Hi @jones137 thanks for the info, I'll see if there is a way to persist these flags, preferably without having to redirect Invidious to Invidious as well.

No worries, will do.

Cheers!

[2020-04-10 00:10] SimonBrazell commented on #22
Closing this for now as I haven't heard from you, if you are still experiencing this issue please let me know and I'll re-open / investigate further.

Cheers!

[2020-04-10 00:10] #22 closed

[2020-04-10 00:11] #33 closed

[2020-04-10 00:11] #34 closed

[2020-04-10 00:16] grravity commented on #22
Oh my bad I missed it, it seems to be working good now!

[2020-04-10 00:19] SimonBrazell commented on #22
Oh great! Good to hear.

I'd still like to add your other suggestion to this extension, just not had much time lately to look into it.

[2020-04-18 14:14] 12people opened #37 "Limit extension's access to certain URLs"
I'm always generally uneasy about letting an extension "access my data for all websites".
Would you please consider limiting the extension's access to just data from Youtube, Twitter, Instagram, and Google Maps URLs?

[2020-04-19 03:19] SimonBrazell commented on #37
Unfortunately that permission is required to enable embedded video redirects as they can originate from any site, not just the target domains. I don't know of any other way around this, see #6 for the original discussion that prompted the change.

[2020-04-22 11:56] SimonBrazell commented on #27
Looking at doing this now, wondering to what extent I should go to on this... I could for instance add it as a UI to the popup menu, allowing users to simply add the current site to the whitelist, which sounds ideal but means I need to add an [extra permission](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/tabs) to the extension, which I'm sure not everyone will be ple

[2020-04-22 12:31] grravity commented on #27
Yeah I'm +1 for this, it's not a difficult thing to do. If you add wildcard support that'd be great so we can choose to whitelist a specific URL or an entire domain for example.

[2020-04-22 13:02] SimonBrazell commented on #27
Good point, I might place this feature in the options menu for now I think, save cluttering up the popup menu.

Yep, I was thinking the same, I can include support for the user to enter Regular expressions perhaps?

Could be done relatively easily with the current level of permissions, might not add it this time around, but a good idea for the future!

[2020-04-24 00:22] leethax666 opened #38 "Don't redirect for twitter homepage feed?"
I love the idea of using nitter for individual tweets but it keeps redirecting my main feed link to nitter and it doesn't support it.

[2020-04-25 06:17] Innoxious opened #39 "Cannot navigate back in the browser after being redirected"
As per title. I am on Firefox with extension version number 1.1.21

[2020-04-25 08:39] SimonBrazell commented on #37
@12people hope that explanation covers it.

As the broad permissions are really only used by the Invidious redirects (embeds) I think another approach would be to extract the logic for it out and deploy the other redirects as seperate extensions with lesser permissions?

Closing this for now as I don't see any other way of addressing this issue.

[2020-04-25 08:43] SimonBrazell commented on #38
Hi @leethax666 I could add a few exceptions to the redirect rules that would stop these specific pages from being redirected?

Are you able to provide a list of pages that you don't want redirected? Or is it not that simple?

I'm actually working on adding a 'whitelist' feature to the extension at present which could also help here too perhaps.

[2020-04-25 08:49] SimonBrazell commented on #39
Hi @Innoxious I can't seem to be able to reproduce this, are you able to provide a URL that exhibits this behaviour that I can use to test?

My basic test just now was using [https://old.reddit.com/r/videos/](https://old.reddit.com/r/videos/) where I selected the first YT video that appeared, which redirected to Invidious as expected. I then navigated back, which took me back to [https://old.reddi

[2020-04-25 09:59] Innoxious commented on #39
Ahh sorry @SimonBrazell. I figured out the issue. I am running the Facebook Container extension and the Google Container extension, so the container was triggering first, and then the redirect.

[2020-04-25 09:59] #39 closed

[2020-04-25 10:02] SimonBrazell commented on #39
All good, hope you were able to resolve it.

[2020-04-25 14:52] #27 closed

[2020-04-25 14:55] SimonBrazell commented on #27
[v1.1.22](https://github.com/SimonBrazell/privacy-redirect/releases/tag/v.1.1.22) includes this feature, might be a little rough, tested it using your use case though (https://cytu.be/) and it works

[2020-04-25 15:36] grravity commented on #27
Glad to hear, thank you so much!

[2020-04-25 19:38] WandeingLagomorph793 opened #40 "Website Links not redirecting all links"
If I save a youtube link via bookmark or input a channel via the id, it redirects just fine.

But if I open it through reddit or go through via a search engine like DDG, it still takes me to regular Youtube instead of Invidious, It didn't use to do this but now it does. I've seen the same thing on Twitter and it might happen with sites like Instagram too
Way to reproduce it is

https://duckduckgo.

[2020-04-25 23:44] SimonBrazell commented on #40
Hi @WandeingLagomorph793 thanks for letting me know, it sounds like I've made a mistake with the latest build, I'll work on a fix now.

[2020-04-26 00:01] #40 closed

[2020-04-26 00:02] SimonBrazell commented on #40
Please try the latest release - [v1.1.23](https://github.com/SimonBrazell/privacy-redirect/releases/tag/v1.1.23), should be up on AMO now.

[2020-04-26 00:35] SimonBrazell commented on #27
Hmm better try v1.1.23 instead, I made a mistake with the last that broke some redirects.

[2020-04-26 00:53] grravity commented on #22
Am on your latest, but curiously did you mess with something with the actual re-direction for embeds?
If I choose not to whitelist cy.tube, I don't even see Invidious show-up in uMatrix, nor is it loading the video in cy.tube.

Just curious about this, I know the point was to whitelist cy.tube and use YouTube not Invidious, but I wasn't sure why it's doing this as I recall it still grabbing and pl

[2020-04-26 00:56] grravity commented on #27
I made a reply, I guess it didn't go through. Sorry if you get double I'll delete one if I see it went through.

But essentially I asked if you messed with embeds at all, as I notice if I don't add cytu.be to the whitelist (yes I get the point of the issue was to implement the whitelist and use YouTube instead of Invidious), it doesn't even seem to fetch from Invidious anymore. I recall it fetched

[2020-04-26 00:59] SimonBrazell commented on #27
I modified all the redirects to first check if the site the request originated from (initiator) is in the whitelist, if it is then there is no redirect regardless of the source (iframe, etc.).

I'm not sure I follow, it's breaking embeds is it?

[2020-04-26 01:02] SimonBrazell commented on #27
Can you try a different Invidious instance? I've noticed today that the default instance is down or really slow, but https://invidious.snopyta.org seems to be working.

[2020-04-26 01:53] grravity commented on #27
I have Snopyta's instance set as my redirect, and yeah so If I click a YouTube link it redirects to the Invidious instance no issues.

But in cytube, it's not loading Invidious embeds (again, no cytube isn't currently whitelisted). It's only loading YouTube/GoogleVideo according to uMatrix.

I'm not sure if it's an issue with emebds or something else If you have a site that has a lot of emebds on

[2020-04-26 03:07] SimonBrazell commented on #27
Hmm yeah perhaps there is another problem then, I normally verify embeds using https://www.reddit.com/r/videos/ which is loading correctly for me now using v1.1.23.

[2020-04-26 03:12] SimonBrazell commented on #27
Also just confirmed the embeds on https://cytu.be again, first with it in the whitelist, which loaded embedded video from youtube, then with it not in the whitelist, which loaded the player from Invidious.

[2020-04-26 06:18] jorgesumle opened #41 "No redirect for youtube.com/c/channel_name"
`https://www.youtube.com/c/atareao` didn't redirect me to invidious instance. I'm using version 1.1.22 on Firefox.

[2020-04-26 06:46] SimonBrazell commented on #41
Hi @jorgesumle please try v1.1.23, there was a bug in v1.1.22 that was caused by the whitelist changes.

[2020-04-26 07:24] jorgesumle commented on #41
It redirects me to the trending page now: https://yewtu.be/feed/trending

[2020-04-26 22:34] SimonBrazell commented on #41
Might be an issue with the instance you're using, I'll have to do some testing but I recall channels working in the past.

[2020-04-27 00:05] SimonBrazell commented on #41
Just tested this on Firefox and Chrome, navigating to https://www.youtube.com/c/atareao correctly redirects to https://invidious.snopyta.org/channel/UCP8dTCaLNJFxfklb_GNqe6A, that's using https://invidious.snopyta.org as the instance of course, give that a try and let me know if that works for you.

[2020-04-27 04:59] jorgesumle commented on #41
Yes, it works. The issue is with the instance yewtu.be

[2020-04-27 04:59] #41 closed

[2020-04-29 07:50] Carl-Robert opened #42 "Change embeds to links"
Hey,

Embeds on a private forum I use (XenForo 2.1 backend) need javascript, iframe etc tracking information to be whitelisted to load. Youtube embeds get changed to invidious embeds without allowing youtube javascript, but twitter and instagram embeds for example fail to load at all.

The redirecting works fine clicking on them once they've loaded, so I'd like to request an option to force embeds

[2020-04-29 19:03] oliversturm opened #43 "Copy clean links"
Unless I'm missing something, this is a feature request. I'd like to be able to copy a link to the clipboard (for sharing elsewhere, usually) and have redirection rules applied to it. So I find a YouTube link in DuckDuckGo, right click and copy, end up with an invidious link in the clipboard.

Thoughts?

[2020-04-29 23:54] SimonBrazell commented on #42
Hi @Carl-Robert so you want me to add an option that halts youtube embed redirects but also stop it from loading normally? Twitter and Instagram embeds should both just load as normal I think (never tested it with a Twitter embed...) without redirection as Nitter and Bibliogram don't support embeds I believe.

[2020-04-29 23:56] SimonBrazell commented on #43
Hi @oliversturm I think this is a good idea, I'd have to look and see what sort of permissions it needs and how they are granted though as I want to avoid adding more to the extension if I can.

[2020-04-30 07:32] Carl-Robert commented on #42
No, I do not want embeds to work at all. I'd want an option to instead of loading embeds loading a placeholder (like twitter logo, instagram logo etc) or a plain link. Clicking these redirects normally to nitter etc. This way we can block twitter and instagram globally and not having to deal with embeds. XenForo is pretty popular backend and I bet more and more other forum software starts to suppo

[2020-04-30 08:26] oliversturm commented on #43
I believe clipboard-read and clipboard-write are separate permissions. Personally I wouldn't mind seeing an extension require clipboard-write alone, since that doesn't seem to be a privacy concern. But perhaps others would disagree.

[2020-04-30 08:43] SimonBrazell commented on #42
No I think it's within scope, and maybe something I would use myself actually. Should be relatively easy too I think, just redirect the embeds to a static HTML file stored within the extension that contains the redirect link. With an option to globally enable / disable this feature in the options menu.

Pretty busy lately with other work but I would definitely like to add a feature like this at so

[2020-04-30 08:44] SimonBrazell commented on #43
Yeah and if it was something that was only allowed with a prompt then I think it would be fine, not sure if that's possible though, need to look into it.

[2020-04-30 08:46] SimonBrazell commented on #43
I just know people will get annoyed if I start adding more permissions to the extension... which is why I'm a little wary.

[2020-04-30 08:48] oliversturm commented on #43
Understood. Would be a pity if that problem was in the way of a cool feature. Idea: perhaps you can somehow show the modified link somewhere when I right-click, in a way that I can copy it myself. Then the extension wouldn't need extra permissions.

[2020-04-30 11:59] wuniversales opened #44 "[BUG] Add support for youtube embed"
URL of the error: https://wii.scenebeta.com/tutorial/como-instalar-cmios-en-la-wii

I have been able to verify that the type links ...
`http://www.youtube.com/v/B8uurHgZLsU&hl=es&fs=1&rel=0&color1=0x234900&color2=0x4e9e00&border=1`
They do not work
It should generate a basic url, for example...
`https://invidious.snopyta.org/embed/B8uurHgZLsU`
_PD: I am seeing that it works through object, I don't

[2020-04-30 23:41] SimonBrazell commented on #44
Hi @wuniversales I just had a look at the site you listed, it appears the issue is not with this extension but with the site itself using mixed content which is being blocked by the browser.

![Screen Shot 2020-05-01 at 9 38 44 am](https://user-images.githubusercontent.com/16571951/80769135-997e5900-8b8f-11ea-9a49-d8f7c0caf0de.png)

I tested this with both Firefox and Chromium with the same result

[2020-04-30 23:46] SimonBrazell commented on #43
I'm sure there is a way to do it that will satisfy both camps, when I get some time I'll look into it, bit snowed under with other work lately...

[2020-05-01 01:12] wuniversales commented on #44
But with the plugin you can correct that, right?

Instead of redirecting from youtube, to the invidius instance, you could change the link directly from the website.

That is, apart from making redirects, change the links on the websites.

Detect if it is in an embled, in an object, in an href ... And change the link directly to avoid unnecessary redirection.

This could detect the link and automa

[2020-05-01 01:23] SimonBrazell commented on #44
In this case it seems the browser intervenes and blocks the content before the extension has a chance to perform the redirect so I'm not sure there is much that can be done other than contacting the site maintainer and asking them to fix the mixed content on their site.

The extension does not edit site content, it just intercepts requests made to the target URLs and redirects them to the desired

[2020-05-01 01:26] SimonBrazell commented on #44
Or you could unblock the mixed content in your browser - https://support.mozilla.org/en-US/kb/mixed-content-blocking-firefox then the redirects should work but this is not recommended.

[2020-05-01 03:08] SimonBrazell commented on #44
Going to close this as it seems to be unrelated to the extension.

Let me know if you still have questions though.

[2020-05-01 03:08] #44 closed

[2020-05-03 12:47] acidjames opened #45 "Bibliogram redirects to / and not /u/$username"
Hi folks,

first of all, thanks for this very interesting and useful extension.

I've noticed that a bibliogram page is as follows

https://bibliogram.art/u/$username

The extension redirects to /$username so it doesn't work as expected.

Is this normal ?

Thanks,

[2020-05-03 12:52] SimonBrazell commented on #45
Hi @acidjames thanks for letting me know, I'll look into it. Should just redirect to /u/username not sure where the $ is coming from...

[2020-05-03 13:38] acidjames commented on #45
Don't worry @SimonBrazzel, $ is just to make sure i'm talking about a "variable". (php bad habits)

[2020-05-03 17:57] acidjames commented on #45
I'll have to add that it works as it's supposed to for other accounts i've tried today, except :

https://www.instagram.com/parkingdance/

which is the page for my friends band, i guess it's not intepreted as a "user" ?

I land on a bibliogram page that says "404 maybe try user @parkingdance"

[2020-05-03 23:50] SimonBrazell commented on #45
Oh right sorry I misunderstood, so there are some usernames that aren't being redirected correctly for you then? I'll see if I can work out what is up with https://www.instagram.com/parkingdance/ are there any others?

All user accounts should redirect to `/u/$username` but there are some exceptions that might be interfering with your friends username.

I thought I'd made a mistake in the code som

[2020-05-04 00:14] SimonBrazell commented on #45
Found the issue, that username is getting caught by the `instagramReservedPaths` regex, I'll fix it up now and do a new build.

[2020-05-04 00:32] #45 closed

[2020-05-04 00:35] SimonBrazell commented on #45
Okay should be fixed now in [v1.1.24](https://github.com/SimonBrazell/privacy-redirect/releases/tag/v1.1.24) which I've pushed to AMO and Chrome webstore, if you are on Chrome then you'll have to wait a few days for the release (Google is super slow to review and release updates...).

Your friend's band sounds interesting, I'm bit of a fan of post punk 😀

[2020-05-04 14:37] acidjames commented on #45
Cool ! And thanks again for your plugin, it's dope

if you want a good track to listen on tutube you can look for "parking dance - wannabe", cheers

[2020-05-05 03:33] SimonBrazell commented on #45
I like it! Now I want to go see some live music... lousy lockdowns 🙁

[2020-05-08 01:30] grravity commented on #27
Sorry, late response haven't had time lately to fuck with this.
Ok, I got it. So, with cytube It's loading the Invidious embed and playing the video.

But playing around with it, it seems to be having trouble actually syncing the video to cytube. So cytube essentially is supposed to sync the time with everyone watching, so if the video is playing at 2:00/10:00 everyone should be at 2:00. With your

[2020-05-08 01:43] grravity commented on #35
+1 to this, Fuck AMP.
Although I do believe uBlock can redirect AMP, I could be wrong. Worth noting though.

[2020-05-08 01:46] grravity commented on #43
It would be able to set a custom copy url, so if you run your own instance, and want to share a video through Invidious, you can set it to copy a public instance instead of your own.

Secondly, not sure if this would be out of the scope of this request, i but it would be cool to be able to copy the original url as well, so if I want to copy Invidious or the YouTube link, I can choose either quickl

[2020-05-08 10:02] SimonBrazell commented on #27
Perhaps the plugin is still interfering with the youtube assets some how, maybe I can catch it by looking at what's going on in the console.

[2020-05-08 12:41] #36 closed

[2020-05-08 12:52] SimonBrazell commented on #36
Added both these suggestions just now, please try `v1.1.25` on [AMO](https://addons.mozilla.org/en-US/firefox/addon/privacy-redirect/)

You'll need to go to options and then enable `Persist Invidious preferences (as cookie)` in the `Advanced` tab before it will persist your settings for you, you'll notice the dark mode option there too. 🙂

[2020-05-08 12:53] SimonBrazell commented on #36
This feature works by utilising the existing Invidious preferences cookie, so you'll need to enable cookies for it to work, let me know if there are any issues.

[2020-05-11 10:07] PoorPocketsMcNewHold opened #47 "[Suggestion] Qwant maps alternative alongside openstreetmap"
To be fair, I have no idea of how potentially this could work, but i’m just suggesting,
An alternative, into G maps redirect, to the Qwant Maps service instead of OpenStreetMap (While, of course, Keeping OpenStreetMap as default, the user would have to manually change it for Qwant Maps if that wishes).

While Qwant Maps is based on the OpenStreetMap service, it isn’t a fork or an instance in any w

[2020-05-12 10:03] DJCrashdummy commented on #35
perhaps worth mentioning here: [Redirect AMP to HTML](https://www.daniel.priv.no/web-extensions/amp2html.html)

[2020-05-12 12:17] DJCrashdummy opened #48 "make this addon outage resistant (and therfore create/use a "network of instnaces")"
since you are already at least partly choosing random instances from a list (#34 - although i would use **all** public instances directly from their lists: [Invidious](https://github.com/omarroth/invidious/wiki/Invidious-Instances) & [Nitter](https://github.com/zedeus/nitter/wiki/Instances) & [Bibliogram](https://github.com/cloudrac3r/bibliogram/wiki/Instances)), a cool feature came into my mind:

[2020-05-12 13:20] DJCrashdummy commented on #48
after thinking of this feature and the usage of this addon in general a little bit more, i'm strongly advising to **use all public instances** and even more to not set a default instance, **especially not a persistent default per installation**.
1. using all public instances will lower the load for all instances used by this addon:
for sure adding a note at the lists, that *"they will be used by t

[2020-05-12 13:38] tarbib commented on #38
Exactly what I am looking for Twitter too. Like it would only redirect if there is something after the "/" of "twitter.com/" so that I can still have access to my twitter timeline without disabling your addon.

[2020-05-12 13:56] DJCrashdummy commented on #30
the *"open in twitter"*-links on nitter are still redirected (at least in firefox)... is still being worked on this (then wouldn't it be better to reopen & perhaps rename this issue) or won't this be fixed?
or should a new issue be opened about this particular issue?

[2020-05-12 14:33] DJCrashdummy commented on #43
just to make it clear: @oliversturm with **clean** links you just mean the **rewritten** links?
...because for cleaning links from tracking tags there are other awesome addons like [ClearURLs](https://gitlab.com/KevinRoebert/ClearUrls) (which addresses even more URLs than just youtube, twitter, instagram & goggle maps).

if so, this may be an interesting (optional) feature... although i'm not sure

[2020-05-13 00:37] SimonBrazell commented on #35
Thanks, I want to do this and some of the other suggestions but I have no time lately unfortunately, maybe next month.

[2020-05-13 00:58] SimonBrazell commented on #48
I'd have to check what permissions are required to enable a feature like this, it can be done with a request made to the instance in advance of the redirect I'm thinking, in which case it wouldn't need an increase in permissions but would add a little extra time to the redirect if it's done on every request, which would probably be fine as it would be optional anyway. Otherwise I think the extensi

[2020-05-13 00:59] SimonBrazell commented on #38
Yep happy to add this feature, just wanted some help identifying the paths to exclude from the redirects as I don't use Twitter accounts myself normally.

[2020-05-13 01:01] SimonBrazell commented on #30
@DJCrashdummy yes you're right, this slipped my mind to be honest, I'll re-open this to help remind me in the future when I have more time to work on this project again.

[2020-05-13 01:05] SimonBrazell commented on #47
Hi @PoorPocketsMcNewHold thanks for the suggestion.

I'd have to look at the API to see how much it differs from the OSM interface, may be a big job to port the redirects over. No time lately unfortunately 🙁 too much other work going on, maybe next month when things quiet down a little...

[2020-05-13 06:05] tarbib commented on #38
@SimonBrazell Nice ! Sorry Actually the URL to exclude is "https://twitter.com/home".

[2020-05-13 09:12] TheFrenchGhosty opened #49 "[Feature Request] HTTP login support"
My Invidious instance (https://invidious.pussthecat.org) is semi-private and behind an HTTP login.

Privacy Redirect (and Invidition see [the related issue](https://codeberg.org/Booteille/Invidition/issues/44)) doesn't support it and automatically rewrite the instances links removing the login.

It would be really nice if it was supported.

[2020-05-13 23:00] SimonBrazell commented on #49
Hi @TheFrenchGhosty should be able to do that, do you have any more details regarding the login mechanism, what is being removed, is it something in the URL params or elsewhere?

[2020-05-14 07:41] oliversturm commented on #43
Yes, I meant "clean" in the sense of the rewriting done by this extension - not in the many senses used by other extensions.

I use ClearURLs myself and I like it, but I agree that there's no need to combine too many aspects of "cleaning" in one extension.

[2020-05-14 11:41] TheFrenchGhosty commented on #49
It's something before the actual URL: for example for my instance https://invidious.pussthecat.org the URL will become https://username:password@invidious.pussthecat.org so Privacy Redirect just need to support links containing this syntax.

[2020-05-14 12:16] SimonBrazell commented on #49
Okay I can see the problem now, so I imagine you've tried setting the Invidious instance as that URL, which isn't working because there is some basic 'validation' on the instance inputs that converts the entered URL string to a URL object and then stores only the `origin` attribute (https://invidious.pussthecat.org), stripping out any extra parts of the URL that the user might have accidentally in

[2020-05-14 13:15] TheFrenchGhosty commented on #49
That's exactly the problem yeah both Invidition / Privacy Redirect rewrite the URL without the login.

To be honest I personally prefer if the issue was fixed on Invidition (since I prefer it's UI) but I guess if it's fixed on Privacy Redirect I will have to use it for now (this fix would also be useful in case some people use a similar setup/are using my instance).

[2020-05-14 13:15] SimonBrazell commented on #27
Just looking at this now, it seems to be in sync to me, I've got two windows open, one with the plugin using the whitelist and the other without, they both seem to be in sync.

I had a look at the console too and I can see a lot of errors but they seem to be unrelated.

So yeah as far as I can see the whitelist is working?

[2020-05-14 13:29] SimonBrazell commented on #49
[v1.1.26](https://github.com/SimonBrazell/privacy-redirect/releases/tag/v1.1.26) should allow you to do this now, let me know if you have any issues with it.

[2020-05-14 14:00] grravity commented on #27
Not the whitelist.
Just want to ensure I'm clear on the issue:

Basically if I open cytu.be on Firefox, then open on Chromium, Firefox has the Privacy Redirect extension (Chromium doesn't), if I add a video into cytu.be using the YouTube URL, it appears and starts playing on both Chromium and Firefox (on Firefox it redirects through the Invidious embed as expected and as it should **without the wh

[2020-05-14 14:10] SimonBrazell commented on #27
Oh right sorry I think I understand now, I'd say that the issue there lies with Invidious and its lack of support for whatever YouTube interface this particular site is using to sync and resume the videos.

Not sure there is anything that can be done about that, I'll have a play around with it but I'd say that its unlikely to be something easily fixed.

[2020-05-14 14:12] SimonBrazell commented on #49
Noticed I only applied this for the popup, I'll do the same fix for the options menu in the next build.

[2020-05-14 16:48] cloudrac3r commented on #35
I also think that since amp2html already exists as an extension, there's no need to copy its behavior into this extension. We can just do one thing and do it well.

[2020-05-14 22:18] SimonBrazell commented on #35
@cloudrac3r makes a good point, if there is already an existing extension that is actively maintained then perhaps we shouldn't over complicate things here? I can see it targets all major browsers too so there doesn't seem to be any gaps that we can fill.

[2020-05-14 23:48] #49 closed

[2020-05-15 14:49] shippage commented on #35
To play devil advocate here: I would rather have an all-in-one extension, rather then two extensions. Currently I'm able to replicate most of Privacy Redirect's functions using just the HTTPS-Everywhere extension, but stick with it since it provides a lot of convenience, like toggling specific redirect on and off.

Also, as a user, installing more extensions into my browser adds additional attack

[2020-05-17 12:35] TheFrenchGhosty commented on #49
Thank you!

[2020-05-17 12:42] TheFrenchGhosty opened #50 "[Feature Request] Redirect link of other instances to the chosen instance"
Invidition support a feature (only for Invidious) named "Always use prefered", it's a feature that redirect every Invidious links of public instances to the chosen instance.

It would be really nice if it was possible to do in Privacy Redirect, either using regex (preferable but might cause some issue in website using the same URL format) or using the list of public instance of each service (how i

[2020-05-18 19:56] B0pol opened #51 "twitter.com/author/tweets should be redirected to preferred.nitter.instance/author"
For example, https://twitter.com/simonbrazell/tweets
It leads to 404 now.

[2020-05-19 11:22] SimonBrazell commented on #50
Just curious what the use case for this feature would be, is it to be used when people share invidious links that you'd prefer redirected to your own or another instance?

Could add some kind of custom redirect rule section to the options menu perhaps, similar to what HTTPS everywhere has? So you could add your own custom redirect rule for any site you like.

[2020-05-19 11:23] SimonBrazell commented on #51
No worries, I'll look into it.

[2020-05-19 11:32] SimonBrazell commented on #51
Is the `/author/tweets` path a legacy one or something? Just seems to get redirected to `/author` anyway on Twitter, where are you coming across these links?

[2020-05-19 12:27] TheFrenchGhosty commented on #50
Mainly this yes, usually when people share links to content on those service they use the official instance. Personally I need this because I pull my YouTube RSS from Invidio.us and watch the videos on my instance.

Invidition is public domain so you can maybe copy/base your code on its implementation.

[2020-05-19 13:59] SimonBrazell commented on #50
No worries, I'll look into it.

[2020-05-19 14:04] B0pol commented on #51
I just tried disabling javascript and using legacy twitter. It doesn't redirecs `/author/tweets` to `/author` and will show tweets. But it seems the true legacy path is `/author?p=s`. I mean it works without `?p=s`, but when you click on someone's profile via another tweet, it leads to `/author?p=s`.

I came across this link on reddit.

Maybe some twitter clients use `/author/tweets` and it never

[2020-05-19 15:00] TotalCaesar659 opened #52 "Version number doesn't fit background"
Version number doesn't fit background in 1.1.28 (Lubuntu 20.04, Firefox 76.0).
![Screenshot from 2020-05-19 17-55-26](https://user-images.githubusercontent.com/14265316/82342683-97732180-99fa-11ea-8006-a5ebb43e0a41.png)

[2020-05-19 22:51] SimonBrazell commented on #52
Had some problems with this on my machine also, should be an easy fix... 🙂

[2020-05-19 23:12] #51 closed

[2020-05-19 23:12] #52 closed

[2020-05-19 23:13] SimonBrazell commented on #52
This should be fixed in v1.1.29 but let me know if it isn't, couldn't reproduce on my machine.

[2020-05-19 23:13] SimonBrazell commented on #51
This should be addressed in v1.1.29.

[2020-05-20 02:35] TotalCaesar659 commented on #52
Thank you vary much! It works alright now.
![1](https://user-images.githubusercontent.com/14265316/82398519-b3f37600-9a5b-11ea-9e1e-09f1f1227695.png)

[2020-05-20 02:37] SimonBrazell commented on #52
No worries thanks for the PR and all your help!

[2020-05-20 05:30] ToughGuyKunio commented on #50
I was thinking about requesting this feature :smile:  I also use Invidio.us for RSS feeds, and I believe one of the privacy reddits don't allow YouTube-links, so all links are to invidio.us. So there are at least some use cases.

[2020-05-21 06:37] B0pol opened #53 "Always allow fullscreen for embeds"
Hi, YouTube embeds by default block fullscreen. But you
modify that by adding `allowfullscreen` attribute in iframe tag.

It's annoying not to be able to watch in fullscreen just because the website decided or because they didn't know about `allowfullscreen` attribute. Let me decide what I want.

[2020-05-23 08:50] jones137 opened #54 "Embedded Google Maps do not display"
Example 1: https://www.walmart.com/store/finder
Example 2: https://www.alsen.pl/sklepy

The area where map should be shown is empty. Once I disable OSM redirection and reload, it displays correctly. Redirection of Google Maps URLs works fine though.

[2020-05-23 08:58] jones137 opened #55 "Within the start of a new Firefox session, redirects are unreliable"
Related issue on bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1630024
Related issue for a similar "Redirector" addon: https://github.com/einaregilsson/Redirector/issues/195

This addon suffers from it too. If you open a new Firefox session and then quickly type youtube.com, it will sometimes load normal YouTube instead of redirecting. It's not easy to 100% reproduce though, it's kind of

[2020-05-23 09:03] #55 closed

[2020-05-23 09:06] jones137 opened #56 "On a fresh session, Invidious parameters are not in effect when going to it directly"
If you go directly to an invidious video URL on a new session, like https://invidio.us/watch?v=LWJPn-xMu0s , it will load it without proxy or dark mode even if you have it enabled. Once you navigate to another subpage they enable themselves, but it's still a bit dangerous (call to Google).

[2020-05-23 11:57] SimonBrazell commented on #54
Hi @jones137 thanks for letting my know, I'll look into both these cases. The maps redirects likely still need a bit of work, particularly embedded maps, I remember at the time it was added myself and one of the contributors had trouble finding some examples of embedded maps to test on.

[2020-05-23 12:08] SimonBrazell commented on #56
This should only happen on the first load of invidious, all subsequent should persist your settings, is that what you're seeing?

The plugin creates a cookie for Invidious that persists your settings (e.g. dark mode, etc.) but this doesn't happen unless you've navigated to the site, as the cookie code is loaded as a content script on the Invidious instance you've chosen. Which I know is a bit of a

[2020-05-23 12:14] SimonBrazell commented on #56
Correction, I just checked the code, the cookie code is loaded on the following pages regardless of whether they are your selected instance or not:

[code]

[2020-05-23 12:18] SimonBrazell commented on #53
Hi @B0pol are you asking if we can add an attribute to the iframe within the site? I'm not sure that's possible with the currently level of permissions the extension has unfortunately.

[2020-05-23 12:21] SimonBrazell commented on #53
The only way I can think of for editing site content with the current permissions would be to load a content script on the page, but extensions have to declare which sites they want to do this on ahead of time in the manifest and given embedded videos can be on any site, I'd have to target every site with the script, which isn't ideal...

[2020-05-23 12:24] SimonBrazell commented on #55
Hmm yeah, looks like a limitation of Firefox, which I can't really do anything about, thanks for bringing it to my attention though! 🙂

[2020-05-23 12:30] SimonBrazell commented on #56
Just thought of something, this issue will occur again in subsequent browsing sessions if you delete cookies between sessions... is that what you are experiencing? If so perhaps you can make an exception for Invidious so the `PREFS` cookie remains across sessions.

[2020-05-23 13:09] jones137 commented on #56
Yes, I clear cookies and all site data on quitting the browser. Isn't there a way to create a cookie before loading the page for the first time?

[2020-05-23 13:16] SimonBrazell commented on #56
No unfortunately the cookie needs to be set on the page it's used, and the content script is already being run as early as it can be (`document_start `). Can you add an exception and persist cookies for Invidious?

[2020-05-23 13:29] B0pol commented on #53
That was my initial idea, yes.
Indeed I agree with you, it's a rare situation, not everyone is facing this case, therefore it's better not to increase permissions or workaround with a script on every websites.

I'll just right click, copy URL, and edit the url from `https://<invidious_instance>/latest_version?id=<video_id>&itag=<itag>` to `https://<invidious_instance>/watch?v=<video_id>` until my

[2020-05-23 13:29] #53 closed

[2020-05-23 13:35] SimonBrazell commented on #53
Yeah bit of a pain, I could add the content script and have it look specifically for youtube iframes but I'm sure there would be unintended side-effects of doing that on every page or something else I haven't considered.

[2020-05-23 13:38] SimonBrazell commented on #53
Perhaps this is a feature I could add to the extension though, a 'right-click' context menu for embedded videos that has an option to open it in Invidious in a new tab or something like that?

[2020-05-23 14:00] jones137 commented on #56
I guess I can, but maybe the first time I load the instance, there could be parameters in the URL automatically added? For example currently if I enter youtube.com, I get redirected to https://invidious.snopyta.org/?local=true&quality=hd720&dark_mode=true and once I navigate to another subpage the cookie takes the parameters' job.

[2020-05-23 14:10] SimonBrazell commented on #56
If the extension does the redirect then the parameters will be present, when you navigate to Invidious outside of the extension then they won't be present, to do this I'd have to redirect Invidious requests to invidious which could potentially result in an endless loop (not tested this) and otherwise not be ideal anyway.

I think the cookie solution is a good one for the context of this extension,

[2020-05-27 13:16] SimonBrazell commented on #54
Okay I've had a closer look at this now and unfortunately it's not something I can fix. These sites use the Google Maps JS API to build the map so there is nothing to redirect except the call to `maps.googleapis.com/maps/api/js` to load the javascript API files, which is what the extension is currently redirecting (mistakenly) to OSM, and breaking the page.

There is no compatible OSM replacement

[2020-05-29 23:04] atomGit opened #58 "Privacy Redirect removed from AMO"
just curious as to why it was removed

[2020-05-29 23:38] SimonBrazell commented on #58
Hi @atomGit here's the response I got from Mozilla:

The script in question is [here](https://github.com/SimonBrazell/privacy-redirect/blob/master/assets/iframe_api.js), it is a YouTube script that loads embedded video iframes in sites, I host it within the app to prevent a further call to YT servers to retrieve it when you visit a site that uses it. I need to work on a workaround so I can publish

[2020-05-29 23:41] SimonBrazell commented on #58
Upon reading it again though they may be saying something else, perhaps I need to ask them for clarification?

[2020-05-29 23:44] SimonBrazell commented on #58
It says

but that's what I've done with `iframe_api.js`, I thought the problem was that script was loading other remote scripts, need to look into it further, haven't had time since it was taken down yesterday morning.

[2020-05-29 23:57] SimonBrazell commented on #58
Just responded to the reviewer with the following:

[2020-05-30 04:37] SimonBrazell commented on #58
Mozilla's response:

Crypto wrote:

To which I replied:

[2020-05-30 05:02] SimonBrazell commented on #58
Bit confusing... see what they say in response, if they won't allow it then I'll just remove this feature I gues.

Bit of a let down as it means pages with embedded YT videos using this service will have to send a request to YT to load these assets before the extension can do it's thing, which is a bit step back if you're trying to avoid sending any requests to Google's servers.

[2020-05-30 11:17] atomGit commented on #58
from assets/iframe_api.js
is this the script they're referring to? :

`https://s.ytimg.com/yts/jsbin/www-widgetapi-vflYl14TA/www-widgetapi.js`

i'm not a coder, but it looks like this script is being pulled from s.ytimg.com - maybe that's why they're complaining?

[2020-05-30 22:54] SimonBrazell commented on #58
Got this response:

So it's clear now, looks like I'm going to have to remove these files, and allow a request that goes out to Google servers to fetch these now instead. I'll fix this up shortly and resubmit to AMO.

[2020-05-31 00:27] #58 closed

[2020-05-31 00:35] SimonBrazell commented on #58
Okay new version pushed to the store that no longer includes local versions of these assets, and now does not redirect requests made for them anymore 🙁

[2020-05-31 12:55] #54 closed

[2020-05-31 12:55] SimonBrazell commented on #56
Closing for now, let me know if you still have problems with the cookie solution.

[2020-05-31 12:55] #56 closed

[2020-05-31 17:54] atomGit opened #59 "user added scripts to bypass AMO issues?"
re: #58 (Privacy Redirect removed from AMO)

i'm not a coder so this may well be a rotten idea, but i'm wondering if a mechanism could be implemented whereby scripts could be downloaded or added by the user, such as through a plugin framework

i'm thinking of #58 where AMO gripped about the 2 js scripts

[2020-06-01 00:42] SimonBrazell commented on #59
Its a good idea but I'm not sure if it's possible, have to look into it.

I was thinking yesterday that I imagine extensions like 'Decentraleyes' would do something like I was doing with those 2 scripts, wonder how they got around the review... I guess I could try de-minify the Google code, work out what the remote script was and add that one to the extension too to remove the remote script inject

[2020-06-01 08:04] SimonBrazell commented on #59
Maybe I just got a particularly zealous reviewer? Looking at the [Decentraleyes](https://git.synz.io/Synzvato/decentraleyes/-/tree/master/resources) code it seems to be doing exactly what I was doing with those JS resources, the code in the resources is minified also, which is one of the things the reviewer picked up on, wonder if there is a way to escalate it to someone else?

[2020-06-01 09:59] matteqa opened #60 "YouTube Studio"
Attempts to access studio.youtube.com (for video uploads and analytics) should not be redirected as they are not handled by Invidious.

[2020-06-02 00:10] SimonBrazell commented on #60
No problem, this must be a regression in one of the recent builds as I did have an exception in place for these routes already, should be a quick fix.

[2020-06-03 12:05] #60 closed

[2020-06-03 12:06] SimonBrazell commented on #60
Should be fixed in v1.1.32 due to go live on AMO shortly.

[2020-06-03 12:07] SimonBrazell commented on #30
Should be completed now with '_open in twitter_' now working as expected  in v1.1.32, due to go live on AMO shortly.

[2020-06-03 12:07] #30 closed

[2020-06-03 14:25] SimonBrazell commented on #43
Okay looked into this a little further this evening and it appears to be fairly simple, it will need more permissions to access the context menus on right click and clipboard but these can be specified as optional so I'll be add an option to the extension options menu that enables this and prompts the user for the required permissions at the same time.

[2020-06-04 09:28] tux93 opened #61 "After update to 1.1.32 Nitter redirect on Chrome only works after force refresh"
Since 1.1.32 was rolled out on Chrome / Chromium the Nitter redirect no longer works.

Clicking a Twitter link opens Twitter, the redirect only happens if I force refresh the page with CTRL+R or SHIFT+F5, I'm not sure whether this is a caching problem on my end or a general issue.

On Firefox Twitter links are correctly redirected when opening the page the first time.

[2020-06-04 11:51] SimonBrazell commented on #61
Hmm okay I'll look into it, I did test last night on both Chromium and Firefox but perhaps I missed something.

[2020-06-04 12:49] SimonBrazell commented on #61
This isn't my experience, can you make sure you have the advanced option `Proactively remove Twitter service worker` enabled, Twitter loads a service worker that interrupts with redirects.

[2020-06-04 12:58] SimonBrazell commented on #61
There does seem to be something up though, I just disabled that option and then was stuck with Twitter, with redirects failing, can you confirm you didn't have that option enabled before?

[2020-06-04 13:01] tux93 commented on #61
The option is enabled currently, I'm not sure if it was disabled at some point

I just tried removing the extension and installing again but the behaviour didn't change

[2020-06-04 13:04] tux93 commented on #61
What does work for me is enabling the extension in incognito mode and opening the link in a private tab, that will redirect to Nitter immediately

[2020-06-04 13:06] SimonBrazell commented on #61
Yeah okay there is definitely a problem, it seems to be related to the Twitter service worker, and the script I've put in to remove it as previously it was hijacking the extension redirects. It was that script that made it difficult to get the 'view on Twitter' links working.

[2020-06-05 02:59] 2oq2o5 opened #62 "Redirect nitter same as invidious"
Greetings! When you click on the redirection in invidious to visualize the content in youtube, it sends you there correctly and you can even continue browsing youtube without being redirected to invidious again.
It's not the same with nitter, you can't even see a single tweet and it immediately returns to nitter.

I'm very interested in accessing twitter occasionally so I can save bookmarks and pa

[2020-06-05 03:11] 2oq2o5 commented on #50
It would be especially interesting in bibliogram, since many instances (including the official one) do not allow RSS subscriptions and all of them are frequently blocked.

[2020-06-05 06:48] SimonBrazell commented on #62
Hi @2oq2o5 I'm going to look at the Nitter / Twitter stuff again this evening, seems I might have messed up the implementation of the 'view on Twitter' links. Problem is they are made much more complex than the same Invidious feature because of the Twitter service worker removal script I've put in place...

[2020-06-05 09:45] 2oq2o5 commented on #62
The redirect works well, now. When I read about "service worker" I remembered that I have an addon to block them and I thought that it could generate some conflict, but no. It simply all works fine, I've been appreciating the problem for a few weeks but it seems that it was fixed just in the last commit, I probably should have looked first. I'm so sorry... I'll buy you a coffee!

[2020-06-05 09:45] #62 closed

[2020-06-05 09:58] SimonBrazell commented on #62
No don't be sorry, I have had another user mention problems with the latest build and Nitter redirects so it definitely needs looking at, I sometimes code late at night, which results in mistakes like this happening, probably should stop doing that 🙂

[2020-06-05 22:55] B0pol opened #63 "redirect youtube music"
https://music.youtube.com/playlist?list=OLAK5uy_l2a-m-HR606XITpP6VAQUa3Q8Utq7B00o can be redirected to https://invidio.us/playlist?list=OLAK5uy_l2a-m-HR606XITpP6VAQUa3Q8Utq7B00o for example

[2020-06-06 05:29] SimonBrazell commented on #63
Oh cool, didn't know about this, will do!

[2020-06-07 12:07] SimonBrazell commented on #61
Having some difficulty with this, not sure why the behaviour is different on Chrome vs Firefox, I'm going to disable the Nitter - 'View on Twitter' feature on Chrome and leave it as is for Firefox for now, that way Twitter redirects should work as they did before.

[2020-06-07 12:10] #61 closed

[2020-06-07 12:12] SimonBrazell commented on #63
This should be implemented in v1.1.33.

[2020-06-07 12:12] #63 closed

[2020-06-07 12:19] SimonBrazell commented on #38
Should be implemented in v1.1.33, let me know if there are any issues.

[2020-06-07 13:09] tux93 commented on #38
For me twitter.com/home is still redirected, even if it is explicitly added to the Whitelist

[2020-06-07 13:38] tux93 opened #64 "Whitelisted URLs are still redirected"
For example adding whitelist entries for Youtube Watch Later (https://www.youtube.com/playlist?list=WL) or Twitter Notifications (https://twitter.com/notifications) those are still redirected to Invidious / Nitter

This happens on both Firefox and Chromium, I suspect this is related to #38 also not working

[2020-06-08 00:15] SimonBrazell commented on #38
It worked in my testing last night... Must have made a mistake before pushing live.

[2020-06-08 00:33] SimonBrazell commented on #38
Okay I think I published the wrong extension bundle last night, sorry I'll fix this up now, `web-ext build --overwrite-dest` got me! 🙂

[2020-06-08 00:37] SimonBrazell commented on #64
I think I missed something with the Twitter whitelist so I'm not surprised that doesn't work, but the YT whitelist should work, I'll see if I can work out the issue.

[2020-06-08 00:41] SimonBrazell commented on #64
Okay so I can confirm the whitelist needs more work, it was only built with a pretty narrow focus in mind, to avoid embedded redirects on `https://cytu.be/` which it does, but it doesn't apply to normal redirects atm.

[2020-06-08 00:45] SimonBrazell commented on #64
It was only checking to see it the `initiator` matched an entry on the whitelist, not the requested `url`, see if I can add this feature now.

[2020-06-08 01:51] #38 closed

[2020-06-08 01:51] #64 closed

[2020-06-08 01:57] SimonBrazell commented on #64
Should be fixed now in v1.1.34 but let me know if there are still problems.

Thanks for letting my know about these issue btw, it's much appreciated.

[2020-06-08 07:29] tarbib commented on #38
@SimonBrazell it's working for me! thank you :)
Side remark : I would have thought that from twitter.com/home, doing a right-click on a tweet time, opening in a new tab would convert the tweet link to nitter but it's not.

[2020-06-08 08:06] tux93 commented on #38
I can confirm the behaviour @tarbib describes on Firefox, on Chromium links opened form the Home timeline are redirected to Nitter, but on Chromium there's a different issue: it tries to load assets like pictures through Nitter which fails due to Twitters Content Security Policy, here's an example from the dev tools console:

[code]

[2020-06-08 08:29] SimonBrazell commented on #38
@tarbib the reason for that is due to the way I had to implement this, basically the extension excludes any requests made for a Twitter domain where the `initiator` site is either the selected Nitter instance or a Twitter domain. So trying to navigate from a Twitter domain to another will fall into this category.

@tux93 it seems that the implementation of the `initiator`  varies between browsers,

[2020-06-08 08:49] SimonBrazell commented on #38
@tux93 can you tell me what version of Chromium you're running?

[2020-06-08 10:21] SimonBrazell commented on #38
Sounds pretty recent so that's not it. I can see what you mean on Chromium, I can't even login as the extension seems to be redirecting some background scripts which prevents me submitting the login form.

[2020-06-09 10:28] Cade66 opened #65 "Suggestion: OpenStreetMap Redirects for embedded maps only."
Hi,

I'm running flawlessly _Privacy Redirect_ 1.1.34 / Firefox 77.0.1 (x64).
I appreciate and use the _Only redirect embedded video to Invidious_ option.
Maybe would it be pertinent to have a similar option for the _OpenStreetMap_ Redirects, something such as _Only redirect embedded maps to OpenStreetMap_

Just a suggestion!

[2020-06-10 23:41] SimonBrazell opened #66 "Additional parameters for Invidious"
Received via email.

[2020-06-10 23:57] SimonBrazell commented on #65
Hi @Cade66 glad to hear it's running well for you. 🙂

This is a good idea however the OSM support for embedded maps is not complete, it only works currently if the Google map is embedded as an iframe, not if the site has made use of the Google Maps JS API. I don't encounter many embedded maps while browsing so I'm not sure how widespread the use of the API is but if majority of sites use that meth

[2020-06-11 07:27] Cade66 commented on #65
Hi @SimonBrazell , I get the idea, thanks. To answer your question, truth is I don't encounter many embedded maps but that when I do I appreciate having them handled by Privacy Redirect, which has done the work flawlessly up to now. On another hand Google Maps offers more than plain maps which is why I hesitate to activate the OpenStreetMap Redirects. Of course it's always possible to quickly togg

[2020-06-15 12:53] stemy2 opened #67 "Add peertubeify"
Hello,

I'd like to be redirected to the peertube instance if existing or to the invidious instance if not. Is it possible to add a such parameter into your extension ?

[2020-06-21 16:29] B0pol opened #68 "A request is made to the service if your browser is starting"
How to reproduce:
1. Copy a twitter, youtube or whatever service supported by privacy-redirect link
2. open the browser with the link (e.g. in terminal, close all firefox instances and put `firefox URL`

-> You can notice a request has been made to the service, it's only being redirect few seconds after.

[2020-06-26 12:15] SimonBrazell commented on #68
Hi @B0pol sorry for the delay in responding, this sounds like more of a limitation of Firefox's that the extension, it sounds like the request is made before the extension has been initialised, which means there is little that I can do to stop it.

[2020-06-26 12:19] SimonBrazell commented on #67
I can look into it. Sorry I'm not really familiar with the ins and outs of PeerTube, can you give some examples of how this would work?

[2020-06-26 12:24] SimonBrazell opened #69 "Improve some of the wording used in the extension"
Submitted via email.

[2020-06-26 13:04] stemy2 commented on #67
There is already a Peertubeify extension, maybe it could inspire you.

https://gitlab.com/Cha_deL/peertubeify

[2020-06-26 13:55] SimonBrazell opened #70 "Remove instance fields from the popup menu to de-clutter the popup UI"
Submitted via email.

Open for discussion.

[2020-06-26 17:46] B0pol commented on #68
ok, thanks

[2020-06-27 00:59] SimonBrazell commented on #68
Perhaps it's worth opening an issue with Firefox for this one, seems like a bug to me?

[2020-07-09 17:41] Ha1zGw opened #71 "Options instance input fields do not display `datalist` pre-defined options"
In the about:addons menu, double-clicking on the text field to change the server does not open any dialog to choose a server.

Additionally I would like to suggest a button next to the text field that removes its content, to speed up the change of the server.

Thanks for reading.

[2020-07-09 23:06] SimonBrazell commented on #71
Hi @Ha1zGw, thanks for the issue, I've noticed this too, the datalist elements don't seem to work in the options menu  and it was actually reported to Mozilla on my behalf by one of the maintainers who submitted a [pull request](https://github.com/SimonBrazell/privacy-redirect/pull/29#issuecomment-605882258) to this project - [https://bugzilla.mozilla.org/show_bug.cgi?id=1625867](https://bugzilla.

[2020-07-09 23:09] SimonBrazell opened #72 "Add locale support to enable translations"
Received via email.

[2020-07-09 23:11] SimonBrazell opened #73 "Improve RegExp support in 'whitelist' feature"
Received via email

[2020-07-09 23:28] SimonBrazell commented on #71
Could perhaps do something like [this](https://www.w3schools.com/howto/howto_js_autocomplete.asp) instead, shame the native HTML element made for this use case doesn't work though 🙁

[2020-07-12 10:29] #69 closed

[2020-07-12 10:29] #70 closed

[2020-07-12 10:29] #71 closed

[2020-07-12 10:29] #72 closed

[2020-07-12 10:29] #73 closed

[2020-07-12 15:59] smaragdus commented on #43
I use several copy/paste extensions and I don't mind clipboard permissions especially when the extensions are open source.

Additional option for context menu would be great. Will copying apply to [Invidious](https://invidio.us/) links only or to all supported services?

[2020-07-12 16:18] smaragdus opened #74 "Add Option to manually override light / dark mode."
I installed [Privacy Redirect](https://github.com/SimonBrazell/privacy-redirect) on a Chromium fork and the pop-up I get is white, screen:

![Privacy Redirect 1 1 35 - 2020-07-12 - 002](https://user-images.githubusercontent.com/9025757/87251353-c0041e80-c473-11ea-87dc-ba56d9aaa75d.png)

while in the screen-shots at [Chrome Web Store](https://chrome.google.com/webstore/detail/privacy-redirect/pmcme

[2020-07-12 21:49] SimonBrazell commented on #74
Hi @smaragdus the pop-up and the rest of the add-on UI theme is determined by the system / OS light or dark colour theme. So you will need to set your OS theme to be dark in order to get the extension looking like it does in the store. Failing that it appears that you can also set `#enable-force-dark` in `chrome://flags` to ignore the OS theme and force dark mode in just the browser. Does that hel

[2020-07-13 09:37] DJCrashdummy commented on #43
**if** such an (optional!) feature gets implemented, it should for sure work for all activated redirects.

[2020-07-13 12:11] SimonBrazell commented on #74
I'll see if I can add an option to manually override the extension theme rather than rely on the OS theme only.

[2020-07-13 15:43] smaragdus commented on #74
@SimonBrazell

Thank you for the quick response. My OS is Windows 8 and as far as I know it does not support dark/light mode. I am using [Redshift Tray](https://github.com/ltGuillaume/Redshift-Tray) to automatically adjust colour temperature.

If it does not require too much of work this would be excellent. Thanks for this excellent extension!

Regards

[2020-07-13 15:58] smaragdus commented on #43
@DJCrashdummy

Thank you for answering my question. For me if implemented this option would be very handy and useful for fast copying of links without opening them.

[2020-07-14 11:12] SimonBrazell commented on #74
Oh right, yes I imagine Windows 8 wouldn't have any support for this at the OS level, also discovered [an issue](https://bugzilla.mozilla.org/show_bug.cgi?id=1644261) with Firefox that relates to this on macOS, plus anyone using Tor probably doesn't have dark mode support either, so there is a pretty good case for this feature I think.

[2020-07-15 11:28] jtagcat opened #79 "FR: Redirect other instances to your instance."
Redirect: https://bibliogram.art/u/instagram to https://b.c7.ee/u/instagram (user-defined domain).

Detecting other instances could be done via meta (generator) tags.

Why? Because I want to rely on myself for my web feeds.

[2020-07-16 00:00] #74 closed

[2020-07-16 02:42] SimonBrazell commented on #79
Closing in favour of #50

[2020-07-16 02:42] #79 closed

[2020-07-16 03:24] SimonBrazell commented on #68
Found [Mozilla bug report](https://bugzilla.mozilla.org/show_bug.cgi?id=1378459) related to this issue. I posted in the thread asking for some feedback, it appears they are working on it but I'm not sure what the timelines are.

[2020-07-16 03:37] SimonBrazell commented on #65
Hi @Cade66 this is now possible by creating the following exception in the options menu:

`https?:\/\/www\.google\.com\/maps(?!\/embed).*` as a `RegExp`

Let me know if this doesn't work for you and I'll reopen.

[2020-07-16 03:37] #65 closed

[2020-07-16 09:41] Cade66 commented on #65
@SimonBrazell thanks for following up this post of mine and proposing a workaround via this RegExp set as an exception.
I'm answering because having experienced Google Maps and embedded Google Maps leads to a "it works, yes and no"

It works, yes : basically non-embedded Google Maps appear **in** Google Maps and embedded Google Maps **with** OpenStreetMap : great.
It works, no : sites which call G

[2020-07-16 16:14] smaragdus commented on #74
@SimonBrazell

Version [1.1.37](https://github.com/SimonBrazell/privacy-redirect/releases/tag/v1.1.37) allows me to switch to dark theme manually without OS theme dependency:

**pop-up**

![Privacy Redirect 1 1 37 - 2020-07-16 - 003](https://user-images.githubusercontent.com/9025757/87694674-21d7c780-c797-11ea-8e7b-b5b392790da1.png)

**options**

![Privacy Redirect 1 1 37 - 2020-07-16 - 004](https

[2020-07-21 08:20] MalteKiefer opened #81 "Redirect Search To Searx Instance"
I know you can switch in Browser the search but maybe sometimes you forget it or there are other reasons.
A redirect to a searx Instance would be nice

[2020-07-21 08:25] SimonBrazell commented on #81
Hi @MalteKiefer thanks for the suggestion, this one has been put forward before in #16 so closing in favor of that one.

[2020-07-21 08:25] #81 closed

[2020-07-21 08:27] MalteKiefer commented on #16
Any update on this here?

[2020-07-21 08:29] SimonBrazell commented on #16
No sorry, been focusing on other stuff atm, but I've left it open as I do still want to do this, I think initially just supporting searX as you suggest, but needs some investigation.

[2020-07-22 03:02] TotalCaesar659 opened #82 "Make "Version" string translatable"
Please make "Version" string translatable, it looks allogenic with other languages.
![1](https://user-images.githubusercontent.com/14265316/88129484-ded78300-cbe0-11ea-81f9-1be72ecfe0e3.png)

[2020-07-22 12:30] SimonBrazell commented on #82
Hi @TotalCaesar659 will do!

[2020-07-22 12:37] SimonBrazell commented on #68
New [bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1653237) filed following the comment I made, I think it's worth noting that this issue is specific to Firefox, Chromium does not experience this behavior.

[2020-07-29 19:00] realpixelcode opened #84 "Unsafe innerHTML in i18n function – better approach"
Using JavaScript's .innerHTML is considered unsafe by Mozilla which is why I created a new way of localizing an addon. You can see it in action at [nipos](https://notabug.org/nipos)' addon [Cloud Firewall](https://notabug.org/nipos/cloud-firewall).

Instead of an element like

```<h1 data-localize="__MSG_disableInvidious__">Invidious Redirects</h1>```

I'd write:

```<h1><i18n>disableInvidious</i1

[2020-07-29 19:20] pkillnine commented on #5
I had this same issue but I wasn't logged in to Twitter. I fixed it by clearing cookies from Twitter.

[2020-07-29 23:39] SimonBrazell commented on #84
Hi @realpixelcode I like this idea, I think it will be fairly easy to implement without the use of JQuery also, but I am actually using HTML in one of the localised messages:

[code]
I'd need to split this one out into separate paragraphs or something to do the same, shame the translations are so inconvenient in extensions.

Also I wonder why Mozilla considers `innerHtml` unsafe when run from an e

[2020-07-29 23:47] SimonBrazell commented on #84
Here is a solution that doesn't use `innerHtml` or JQuery and doesn't require changing the existing HTML:

[code]

Just using `textContent` instead, should have thought of that before 🙂 just need to fix up that one message with HTML tags inside.

[2020-07-30 00:01] realpixelcode commented on #84
Oh, right. Forgot that.

I have absolutely no clue

[2020-07-30 00:19] SimonBrazell commented on #84
I'll do this in the next build, another user asked me to look at one of the localisation messages while I was at it anyway.

[2020-07-30 00:41] pkillnine opened #85 "Custom embedded Youtube video playing but covered"
For example, on this page (search the page for the word "video" to quickly find it) there is an embedded youtube video that starts playing in the background, but it's covered by a custom play button covering the embedded video: https://www.theguardian.com/australia-news/2020/jul/30/electric-cars-green-recovery-price-second-hand-bulk-buy

Normally you would click this, and it would be replaced by t

[2020-07-30 10:26] SimonBrazell commented on #85
Thanks @pkillnine, I can see what you mean, perhaps there is something on the invidious repo regarding this issue? I'd say that in normal circumstances it is the youtube javascript that removes this cover image and displays the video instead, the Invidious scripts should replicate this behaviour, so this may be a bug, or an oversight perhaps?

[2020-07-30 12:43] #82 closed

[2020-07-30 12:43] #84 closed

[2020-07-30 12:45] SimonBrazell commented on #82
Implemented this in v1.1.38, might need you to add the translation though 🙂 (that's a smiley just in case you have emojis filter haha...)

[2020-07-30 12:52] SimonBrazell commented on #84
Just uploading a build including this now, but I realised I'm still using `innerHtml` elsewhere in the `options.js`, here's the message you receive on AMO when uploading a build using innerHTML:

[2020-07-30 15:15] TotalCaesar659 commented on #82
Thank you very much :-) [Updated](https://github.com/SimonBrazell/privacy-redirect/pull/86) Russian translation.

[2020-08-02 13:13] DJCrashdummy commented on #50
this feature would be awesome especially if also **offline instances** are considered!
because every now and then i'm looking for old links in the history of conversations... and unfortunately some of them are not working because the used instance at that time is not working anymore.

[2020-08-02 15:58] siutsin commented on #38
@SimonBrazell great feature. Is it possible to have an option only to redirect if the regex is matching?

[2020-08-08 12:43] prcmt commented on #37
It should be possible to only request `<all_urls>` as an [optional permission](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/manifest.json/optional_permissions) that the user can grant post-installation.

The issue then might just be figuring out when's a good time to prompt the user to make the choice. Ideally it might be the first time they navigate to a page with an emb

[2020-08-09 08:28] aschrijver opened #88 "You were added to awesome-humane-tech"
This is just a FYI issue to notify that you were added to the curated awesome-humane-tech in the 'Social networks' category, and - if you like that - are now entitled to wear our badge:

[![Awesome Humane Tech](https://raw.githubusercontent.com/humanetech-community/awesome-humane-tech/main/humane-tech-badge.svg?sanitize=true)](https://github.com/humanetech-community/awesome-humane-tech)

By adding

[2020-08-09 11:41] tiotrom commented on #16
I can say SearX is amazing. One instance I use for the past months is https://searx.be/. Super fat. Much better results than any search engine. Also, there are many SearX instances. It really works. We even use it as the default search engine for our tromjaro.com Linux OS. I hope you consider adding it as a replacement for google. DDG is full of ads and goes down the path of google as I see it. Se

[2020-08-09 12:02] SimonBrazell commented on #88
Hi @aschrijver awesome! Thanks, I'll display it with pride! 🙂

[2020-08-09 12:09] SimonBrazell commented on #37
Hi @prcmt true, given it's only needed for embeds perhaps I could display a window on install asking the user if they would like to opt-in for embedded redirects, which would then display the optional permission. I thought about this previously but was discouraged when I read somewhere that this shouldn't be used if the permission is required for the extension to operate, but on second thought the

[2020-08-09 12:19] SimonBrazell commented on #16
Hi @tiotrom I might give it another go, been liking DDG less and less lately, too often I find myself using the Google bang because I can't find the results I want, which defeats the purpose.

[2020-08-09 13:10] tiotrom commented on #16
Could be a fantastic addition. We are testing this extension to see if it works well so maybe we add it as default to TROMjaro OS. We created a "trade-free" OS,  meaning one where you should not trade your attention (ads), data, or currency to whatever you use. And since most people use google, instagram, youtube and the like, your extension can make it easier for that switch to a "trade-free" alt

[2020-08-09 17:26] narFnarF commented on #67
Since Peertubeify already exists and works well, a user just have to install both. No need to add every feature in this extension. (but that's just my opinion)

[2020-08-09 17:33] narFnarF opened #89 "Invidious embeds now autoplay?"
This will be a very vague question. Sorry.

I'm wondering if something changed in the extention in the last month that could cause Invidious embedded videos to sometime autoplay. Or maybe it was something that changed on Invidious side? Or maybe in Youtube's embed code?

You can imagine how annoying it is to load a website with multiple embedded videos, and have all of them start playing at the sa

[2020-08-10 01:26] SimonBrazell commented on #16
Sounds like a noble cause, there is a feature request to make this extension more outage resistant, similar to what you suggest, I haven't investigated a solution yet though, need to prioritise and start working through all these feature requests...

[2020-08-10 01:29] SimonBrazell commented on #89
Hi @narFnarF this may be caused by the Invidious autoplay setting I added in a recent release, I don't think I set it to be on by default but perhaps I made a mistake, please check this in the advanced options menu, and try disabling it if it's on.

[2020-08-10 01:31] SimonBrazell commented on #89
Actually just noticed a bug, it appears I've reversed the toggle, on make it not autoplay, off makes it autoplay... sorry I'll fix this in next release.

[2020-08-13 12:10] tiotrom commented on #16
We have our own instance of SearX at https://tromland.org/searx/ and our friends from Nixnet.services searx.nixnet.services and Snopyta.org search.snopyta.org have their own too. We are extensively testing these instances. So far they work wonderfully. So yah, would be fantastic to add that option too.

[2020-08-13 12:12] tiotrom opened #90 "Add more bibliogram instances"
Here are a few of them https://git.sr.ht/~cadence/bibliogram-docs/tree/master/docs/Instances.md - right now the one that's default almost never works. Cheers!

[2020-08-13 12:13] tiotrom opened #91 "Add more Invidious instances"
Here are more https://instances.invidio.us/

[2020-08-13 12:15] tiotrom opened #92 "Redirect to a new instance automatically when it doesn't work"
Would be perfect if we had a bunch of instances and whenever the default one takes longer than 2 seconds to load, the next one will be used. This way we make sure that all services will work, from nitter to bibliogram or invidious. That would be perhaps the best approach.

[2020-08-15 09:32] ToughGuyKunio opened #93 "Option to not redirect instagram.com"
It would be nice to have an option to not have instagram.com redirected. I use it when it want to login, I know you can go to https://www.instagram.com/accounts/login/ - but I always forget.

[2020-08-16 06:54] adrianheine commented on #93
That's »Bibliogram redirects«, isn't it?

[2020-08-16 18:46] ToughGuyKunio commented on #93
I was a bit unclear: I'm talking about not having the root/login page and feed redirected, I still want everything else redirected, like user pages.

[2020-08-16 19:37] adrianheine commented on #93
Ah, thanks for the clarification :)

[2020-08-18 11:26] theotheroracle commented on #93
you could also use rss

[2020-08-18 11:28] theotheroracle commented on #67
it seems like the extensions wouldn't be especially compatible ?

[2020-08-18 11:28] theotheroracle commented on #67
if this extension at least detected the peertubify extension somehow and made allowances for it maybe but that sounds quite difficult

[2020-08-18 11:33] theotheroracle commented on #35
on the other hand it makes extensions more modular and lets users pick what functionality they want from different extensions

[2020-08-18 11:40] theotheroracle opened #94 "add option to remove url tags from invidious for sharing"
tags like ?v=_ikArCV_zD0&autoplay=1&continue=1&volume=100
i only want options stored as cookies and there doesn't seem to be an option to clear all invidious settings in the extension so i can't get the url tags to go away

it's annoying when trying to share a link, and the share icon on the player doesn't strip the tags either so theoretically if it stripped the tags from the player share menu th

[2020-08-23 06:48] stemy2 opened #95 "Invidious redirect doesn't work"
Hello,

Invidious redirect doesn't work anymore. When it should, instead of the said video, i have blank spaces where i should have embedded videos and a youtube page instead of invidious page, both of them loading indefinitely. And all that with working instances.

[2020-08-24 12:37] tiotrom commented on #91
Well I didn't realize there are many instances since the menu doesnt work well in the settings. If you click the menu you should see a drop-down of all instances, instead you only see the current instance. Only after you delete (as in delete the text) from the drop down form, it may work to display the instances, but at times it does not. So, I strongly suggest you to improve that. I am doing webd

[2020-08-24 12:38] tiotrom commented on #90
Well I didn't realize there are many instances since the menu doesnt work well in the settings. If you click the menu you should see a drop-down of all instances, instead you only see the current instance. Only after you delete (as in delete the text) from the drop down form, it may work to display the instances, but at times it does not. So, I strongly suggest you to improve that. I am doing webd

[2020-08-24 23:46] SimonBrazell commented on #90
Hi @tiotrom you may have noticed there hasn't been much activity on this repo lately, I'm pretty short on time of late, very busy with other dev work, and would appreciate some help with features like this and others if you're interested?

I originally used the built in HTML `datalist` to provide this feature, however I discovered that the add-on preferences pages don't support `datalist` for some

[2020-08-26 12:52] tiotrom commented on #90
I think that would be the best.

Unfortunately I do not know how I can help. I am doing mostly webdesign, the design part, not the coding part...

[2020-08-26 22:40] SimonBrazell commented on #90
Oh right, no worries I'll see what I can do.

[2020-08-26 22:59] tiotrom commented on #90
In any case you created a wonderful addon. We made a custom Linux distro TROMjaro, and we are adding such things to our distro by default so I am testing this addon to see if it is reliable enough to add it as default. I wish I could help. Others who are involved with TROMjaro are too buys with other things .... but I am here to test stuff.

[2020-08-26 23:02] SimonBrazell commented on #90
I need to do a build to address the shutdown of invidio.us in the next few days so I'll see if I can do something about the preferences while I'm at it.

[2020-08-26 23:54] tiotrom commented on #90
Sounds great!

[2020-08-27 08:33] stemy2 commented on #95
Fount it ! It was another add-on's fault.

[2020-08-27 08:33] #95 closed

[2020-08-27 08:54] SimonBrazell commented on #95
Good to hear! Which add-on was it? Might be good to know for future reference.

[2020-08-27 08:58] stemy2 commented on #95
Peertubeify, the peertube search instance i had set didn't work, so it blocked the action of invidious redirect. It's working again since i replaced it by an actually working instance.

[2020-08-27 09:01] stemy2 commented on #67
Actually, there's no need to integrate peertubeify into the add-on. If you install the add-ons separately, it try to redirect to peertube, and if it fails, redirects to invidious.

[2020-08-27 09:01] #67 closed

[2020-08-27 23:21] #88 closed

[2020-08-27 23:21] #89 closed

[2020-08-27 23:22] SimonBrazell commented on #90
Okay I think I've addressed the issue with dropdown selects now, just to be clear was this the reason you reported the lack of instances? Or do you still want more instances added now that you found them?

[2020-08-27 23:23] SimonBrazell commented on #90
Same goes for the other instance related issues you've opened. I'll wait before releasing this latest change just in case.

[2020-08-27 23:23] tiotrom commented on #90
Awesome! Yes this was the reason I reported. I didn't realize there are many of them. Thanks a lot! Great job

[2020-08-27 23:23] #90 closed

[2020-08-27 23:24] SimonBrazell commented on #90
Oh great, no worries I'll push these changes live now.

[2020-08-27 23:46] #91 closed

[2020-08-27 23:47] SimonBrazell commented on #92
Closing in favour of #48

[2020-08-27 23:47] #92 closed

[2020-08-28 01:37] tiotrom commented on #90
Wonderful!

[2020-08-28 01:41] tiotrom commented on #48
Changing the default as random, and allow people to opt in or out for that, should be one way to do it so that you don't overload any particular instance. But yah, having a way to detect automatically when one instance is down and to use another one, would be fantastic. It would make this addon a really solid one. I am using it for the past week or so and I love it. But at times it is hit or miss

[2020-08-28 01:51] SimonBrazell commented on #48
@tiotrom I did just modify the invidious instance selection to be a little more like you suggest.

I made it randomise the selected instance on install or update if the selected instance is `invidio.us` or empty (previously defaulted to `invidio.us`) to help with the shutdown of the official instance, so I could further this by adding a setting that enables this behaviour all the time.

Current li

[2020-08-28 01:56] SimonBrazell commented on #48
Hmmm just thinking, perhaps I should make the default instance, for all providers, random when no instance is selected... not sure why I didn't think of this before haha, I'll do this in the next build!

[2020-08-28 01:59] SimonBrazell commented on #48
So no setting would be required just don't select an instance in the preferences page.

I'll make it clearer to the user by making the placeholder for all the instance fields `Random instance` or something like that. Currently the defaults when the instance fields are empty are as follows:

[code]

[2020-08-28 02:20] tiotrom commented on #48
Oh yeah that's a brilliant idea to have it random when no option is selected- Such a simple solution indeed. This would for sure provide some outage resistance and also not put a load on any particular instance. We have a list of invidious instances here too https://www.trade-free.org/directory/tag/invidious-instance/ and bibliogram here https://www.trade-free.org/directory/tag/bibliogram-instance

[2020-08-28 02:21] tiotrom commented on #48
Also, maybe remove the onion instances alltogether since they don't work in any browser except Tor as far as I can tell.

[2020-08-28 02:23] SimonBrazell commented on #48
Oh yeah I have the Tor instances among the options just for convenience, I won't use them in the pool of random instances, that list is limited to those I posted above for Invidious.

[2020-08-28 02:25] SimonBrazell commented on #48
I'll do this once the chromium releases for the one I just pushed are live, takes a few days for Edge and Chrome to review and publish.

[2020-08-28 02:26] tiotrom commented on #48
What about Firefox?

[2020-08-28 02:28] SimonBrazell commented on #48
It goes live immediately, they give you feedback and pull the release later if there are problems.

[2020-08-28 02:32] tiotrom commented on #48
Ok sounds really great. So basically you will make it random for each instance, unless users specifically select an instance. I look forward to this since it is super cool. I hope you'll have the time and support to keep this one up to date since it is the extension that can make these alternatives like invidious, nitter and the like, much much easier to use. If all works well from our tests, as I

[2020-08-28 02:40] tiotrom opened #96 "Add option for scientific articles"
What if you were to add something of the sort https://addons.mozilla.org/en-US/firefox/addon/sci-hub-now/?src=search :) ?

"When current page contains DOI identifier of a restricted academic paper, find it on Sci-Hub with just a single click on toolbar icon or select your desired DOI, then right click to selected text to use Sci-Hub Now!"

To basically unlock scientific articles. If it helps, Sear

[2020-08-28 02:41] SimonBrazell commented on #48
Yep exactly. I struggled to think of how best to relieve the burden on individual instance maintainers in the past, knowing I needed some kind of default instance for each, not sure why I didn't think of this before, keen to implement it now, thanks for the suggestion!

I'm honoured that this extension is considered 🙂

[2020-08-28 02:44] SimonBrazell commented on #96
Yeah sounds cool, I love Sci-Hub, would you be able to send me an example of a page where you'd see something like this working with instructions etc?

[2020-08-28 02:56] tiotrom commented on #96
I need to search for this, but as I can tell they use DOI - https://asciimoo.github.io/searx/admin/plugins.html?highlight=doi https://github.com/asciimoo/searx/issues?q=Open+Access+DOI . Links seem to go through this https://dissem.in/. And specifically for sci-hub they seem to use this https://github.com/zaytoun/scihub.py.

More importantly this is how Sci-Hub Now is doing it https://github.com/0

[2020-08-28 02:57] tiotrom commented on #16
I just have to insist with this :D -  redirection to SearX is a wonderful idea. And there are so many SearX instances https://searx.space/ - I beg you add this one :). We have been testing this for a while now. We do research for books, we look for IT "fixes" all the time, media files, you name it. SearX works really great. :D

[2020-08-28 15:09] Cade66 opened #97 "Issue with Exceptions for d.tube"
Hi,

Running flawlessly Privacy Redirect 1.1.40 on Firefox 80.0

I have one exception which runs fine : `http://localhost/` (entered as url)
I tested a few others, no issue
I encountered though an issue with `https://d.tube/` : a video link such as `https://d.tube/#!/v/romafedorov/0sxi2w3wpl5` is redirected to my Invidious instance

No idea why. Thanks for your diagnostic (and for the extension, b

[2020-08-28 16:13] xnaas commented on #37
I see that https://github.com/SimonBrazell/nitter-redirect is already spun off as its own. Would it be possible to make more individual extensions for Invidious, Bibliogram, or OSM?

[2020-08-28 22:46] SimonBrazell commented on #97
Okay so you don't want d.tube embedded videos redirected? I'll do some testing and see what's up.

[2020-08-28 22:52] SimonBrazell commented on #37
Nitter redirect was the first actually, this is the spin off 😁 but yes certainly possible, although I think if I implement optional permissions for the embed redirects and then list all the other domains needed individually then it shouldn't be needed right?

[2020-08-28 23:06] Cade66 commented on #97
It's not that I don't want d.tube videos to be redirected, I don't even use d.tube myself but I do test several sites as well as their relation to extensions.
The Exceptions feature has been included in Privacy Redirect for a good reason I presume, that of being used.
If I encounter a site where a dedicated extension extension fails I report it, not for the pleasure but for the extension's sake; a

[2020-08-28 23:18] xnaas commented on #37
I admit, I'm no add-on dev. I don't know much javascript either. Was just putting out a thought. Definitely leaving the decision to the experts. :P

I suppose I'm curious how that works. On the store page would it still say that it's requesting access to all websites but then you have the choice to restrict it?

[2020-08-29 00:58] SimonBrazell commented on #37
On the store page it would say that it needs access to only specific domains, like Bitter Redirect does, and then when installed it will prompt for further access to all URLs, which could be denied, meaning that embed redirects wouldn't work but links would.

[2020-08-29 01:49] SimonBrazell commented on #97
Oh right, good stuff! Thanks for that.

Just doing some testing on that site, it's working for me on Chromium:

Here is the exception:
<img width="392" alt="Screen Shot 2020-08-29 at 11 46 34 am" src="https://user-images.githubusercontent.com/16571951/91625772-63da6700-e9ed-11ea-835e-0985073b1a46.png">

If you look closely you'll notice that this is the YouTube player and not invidious:
![Screen S

[2020-08-29 01:56] SimonBrazell commented on #97
Worked on Firefox Developer Edition 80.0b1 (64-bit), perhaps there is something specific about your setup then, how does the exception for that site look in your preferences?

[2020-08-29 01:58] SimonBrazell commented on #97
To be honest the site itself seems a little flakey to me, the player doesn't seem to load every time, it least on FF anyway.

[2020-08-29 08:28] Cade66 commented on #97
@SimonBrazell , `To be honest the site itself seems a little flakey to me, the player doesn't seem to load every time, at least on FF anyway.`
A _little_ is maybe putting it mildly.

**1-** My Privacy Redirect Exceptions:
![PR-settings](https://user-images.githubusercontent.com/65161029/91632227-b876e580-e9df-11ea-865a-d4308b1f0725.jpg)

**2-** Here is what I've experienced.

YouTube embedded vide

[2020-08-31 06:37] SimonBrazell commented on #97
Hi @Cade66 thanks for the investigation, I believe your conclusions are correct, perhaps there is a service worker involved here that is loading the content from a cache, so the extension doesn't get a chance to intercept the requests? I've had problems in the past with service workers doing similar stuff with Twitter.

Anyway I'll close this for now given it appears to be site specific. Let me kn

[2020-08-31 06:37] #97 closed

[2020-08-31 16:39] tiotrom opened #98 "A design idea"
What if, in the drop down menu, you not only add the disable/enable instances, but also the ability to select them. The drop down menu for selecting the instances. Either leave it as random, or select a specific one. Since at times some instances do not work, you are forced to go to the "more options" and change the instance. Could be super useful to have these options quickly accessible. Cheers!

[2020-08-31 17:06] tiotrom commented on #48
I see in the last release: "Randomise Invidious instance if empty or https://invidio.us to address the shutdown of https://invidio.us". Bit if left empty I see this:
![image](https://user-images.githubusercontent.com/34804533/91746333-b8800c80-ebbc-11ea-9732-44c99a2c0451.png)

Certain instances are selected. Shouldn't be that when left empty, it should be "random". Like the instances to change ran

[2020-08-31 22:55] SimonBrazell commented on #98
Hi @tiotrom this is how it used to be, but someone suggested I remove the instances to reduce clutter in the pop-up menu, putting everything instead in the options.

[2020-08-31 22:57] SimonBrazell commented on #48
Hi @tiotrom yes this is the release before the one I mentioned above. I still intend to do it as you describe, I was just waiting for the other browser builds to be released.

[2020-08-31 23:34] SimonBrazell commented on #48
I've added this feature but I'm not sure which instances to include in the pool for each service, I started by just including those that were listed in each repo (excluding tor services) but it seems many of them are unreliable, might need some help making a short list of instances for each.

[2020-08-31 23:36] SimonBrazell commented on #48
These are the lists I currently have:

[code]

[2020-09-01 01:22] tiotrom commented on #48
Those from your lists are quite the same as the ones we tested for our trade-free/directory. I am using these instances daily and I shuffle through them. Most of them work, but it is hard to tell as at times they may not work temporarily. If every time one "requests" an instance, it is chosen at random, then it is likely they will work. I can only test it daily and report to you. I am writing a hu

[2020-09-01 01:23] tiotrom commented on #98
I understand the reasoning, but it could be very useful to have them all in one drop down menu. However if you add the "random" pull for instances, it may not be as necessary.

[2020-09-01 01:44] SimonBrazell commented on #48
Okay I might just go live with these for now, and update them as more testing is done.

[2020-09-01 07:44] SimonBrazell commented on #98
The random instance change is made, look out for v1.1.41.

[2020-09-01 09:15] B0pol opened #99 "Bibliogram: handle /igtv/, /tv/ and /reel/"
According to [this commit](https://git.sr.ht/~cadence/bibliogram/commit/c6ea5ae8e4e5f21dd33a62afeebbf8df8c534354), they should be treated like a post, therefore they should not be redirected to /u/tv/, /u/reel/ …

One example:
https://www.instagram.com/tv/CDjb45uA51d/?utm_source=ig_embed&utm_campaign=loading

Expected -> https://bibliogram.art/tv/CDjb45uA51d
Actual -> https://bibliogram.art/u/tv/C

[2020-09-01 12:14] tiotrom commented on #48
Wonderful! One small suggestion: if anyone selects an instance, the only way to go back to random is to manually delete that instance's URL. Should there be a simple option in the menu called "random"?

[2020-09-01 14:25] tiotrom commented on #48
https://invidiou.site and https://invidious.toot.koeln/ seem not to work or are super slow.

[2020-09-03 06:33] SimonBrazell commented on #99
Thanks for letting me know @B0pol I'll fix this up in the next release.

[2020-09-03 10:20] B0pol opened #100 "Import/export settings"
Hello,
Could you add import/export settings?

[2020-09-03 14:56] tiotrom commented on #16
Here's how some are using SearX random instance for search https://searx.neocities.org/  and https://searx.neocities.org/changelog.html - could be helpful!

[2020-09-03 23:34] SimonBrazell commented on #100
Yes potentially, are you thinking of using this to sync settings between browsers?

[2020-09-03 23:53] SimonBrazell commented on #48
Received via email, seems to be another reliable instance which I could add to the pool for Bibliogram.

[2020-09-04 07:08] B0pol commented on #100
Yes

[2020-09-04 10:43] ChocoTonic opened #101 "Randomize Instance on Refresh"
I noticed that sometimes an instance will fail to load, so I'll have to go back to where I clicked on a link to get a new instance if I have the randomized option selected.

could you add a feature to allow for randomizing instances on refresh, say if any of the domains in the list are detected?

[2020-09-04 11:38] tiotrom commented on #48
Interesting. Seems to work. It would be great if these instances are added to the official list https://git.sr.ht/~cadence/bibliogram-docs/tree/master/docs/Instances.md

[2020-09-04 11:39] tiotrom commented on #48
Btw I could help to add/remove instances if you need any help with that specifically. Let me know if you need help and how I can help.

[2020-09-04 11:40] tiotrom commented on #101
This is interesting indeed. It would be even better if we could somehow detect when an instance doesn't work (a 404 page or the like) and automatically use another instance.

[2020-09-04 13:26] ChocoTonic commented on #101
detection isn't necessary, just load another instance or alternate to selected instances to avoid certain instances that tend not to work. I personally only use a couple of instances and I'd love to be able to swap between them if I can on reload

[2020-09-04 13:30] tiotrom commented on #101
I understand but now with the introduction of random instances, it will happen that at times some randomized instances won't load. And users won't know what to do rather than try to load the same url again. So it would be perfect if it can be detected that an instance doesn't work so it quickly replaces (reloads) with another one. You make it much easier for everyone. Yes, you and I can simply use

[2020-09-06 11:45] Cade66 commented on #98
I'm in favor of adding back the instances to the pop-up menu, even if I understand the developer's motivation.
Invidious is having a hard time, its main developer has ended his essential participation, instances regularly happen to encounter problems when others recover, so to say; this means the user is often obliged to switch from one instance to the other. Privacy Redirect's Options called from

[2020-09-07 01:25] SimonBrazell commented on #98
Yeah I'll add them back, wish I didn't remove it in the first place.

This sounds a little odd to me, certainly haven't seen this in the tests I've run locally. Which version are you running? This sounds like a Firefox bug tbh, the link on the popup should go directly to the preferences / options for the extension.

[2020-09-07 01:48] SimonBrazell commented on #101
I'm not sure how the extension would become aware of 404s for Invidious instances, as atm it just intercepts the original request and then returns the alternative URL to the browser, it isn't aware of the outcome.

I'm curious, doesn't the extension already radomise the instances on refresh? The intention was to get a random instance every time a redirect occurred if the user hasn't selected a spe

[2020-09-07 01:51] SimonBrazell commented on #101
Oh wait do you mean if the user refreshes the failed invidious page?

[2020-09-07 01:53] tiotrom commented on #101
It is true, can be difficult to read that. Invidious prints out such messages
![image](https://user-images.githubusercontent.com/34804533/92341275-80496400-f0bd-11ea-83b3-52d9507b2fe0.png)
Could that be detected?

Yup it does

Thats also one way to do it.

[2020-09-07 01:54] SimonBrazell commented on #101
Ideally it should operate as @tiotrom suggests, detecting failed requests to the instances and redirecting to another one, but I'm not sure how to achieve this at the moment, need to look into it.

[2020-09-07 02:35] tiotrom commented on #101
That would be really great!

[2020-09-07 08:45] Cade66 commented on #98
`This sounds a little odd to me, certainly haven't seen this in the tests I've run locally. Which version are you running? This sounds like a Firefox bug tbh, the link on the popup should go directly to the preferences / options for the extension.`

I'm running latest Privacy Redirect 1.1.41 / Firefox 80.0.1 / Win7.
But this is not specific to Privacy Redirect, it concerns other extensions as well

[2020-09-07 18:48] ChocoTonic commented on #101
my original suggestion is much simpler to implement thant detecting a failed instance.

I would just have a set or list of instances, check if the curent URL is the original domain, youtube.com or Twitter.com, or one of the private domains and upon refres, change to an instance that isn't the current one

[2020-09-09 05:14] SimonBrazell commented on #101
Problem is neither of these are quick to implement.

@tiotrom's suggestion would need to include a new script which would run on all the instances, detecting some error text and then doing a redirect.

@ChocoTonic's suggestion would require that the extension not just redirects YT links to Invidous but also Invidious links to Invidious, which is fine but how do I then know if the trigger was a ref

[2020-09-09 05:22] SimonBrazell commented on #98
@Cade66 I think I understand why, it's a decision that the developer can make to either load the options within the browser's inbuilt extension options UI (which is what Privacy Redirect does) or open their own in a new tab / window.

My reasoning for using the inbuilt UI was that my options page isn't that complex and so could be handled by that instead of doing it in a new tab, but I could just

[2020-09-09 05:26] SimonBrazell commented on #98
Curiously though, when I click the "More Options" button on the pop-up using Firefox on my work machine (macOS), I go straight to the following page as expected:

![Screen Shot 2020-09-09 at 3 26 07 pm](https://user-images.githubusercontent.com/16571951/92557954-d29ea680-f2b0-11ea-8e2f-fbbd7d7961c7.png)

[2020-09-09 05:33] SimonBrazell commented on #98
So if I just fix whatever this underlying issue is with the "More Options" button, possibly by loading the preferences in a new tab for Firefox only (are you able to confirm this doesn't happen on Chromium also for your machine?), then it would be fine to leave the instance inputs out of the pop-up?

[2020-09-09 05:37] SimonBrazell commented on #98
It's as simple as changing this in the `manifest.json` file I think:

[code]

[2020-09-09 05:38] SimonBrazell commented on #98
And then it opens in a new tab looking something like this instead:

![Screen Shot 2020-09-09 at 3 38 03 pm](https://user-images.githubusercontent.com/16571951/92558730-80f71b80-f2b2-11ea-9d0f-406d8f176fa4.png)

[2020-09-09 08:20] Cade66 commented on #98
`I think I understand why, it's a decision that the developer can make to either load the options within the browser's inbuilt extension options UI (which is what Privacy Redirect does) or open their own in a new tab / window.`
Acknowledged! That's a point I discover. I remain puzzled that it doesn't explain why the problem doesn't appear on macOS as you've noted:

`Curiously though, when I click

[2020-09-09 09:20] ChocoTonic commented on #101
in my suggestion, I would have a user select preferred instances to rotate through (personally I only have 2 invidious instances I prefer), randomly or not, or have them enter the urls in comma separated string or checkboxes however you prefer the setting to be set up

and upon refresh, regardless of whether it were a click on a link or a refresh will pick a random instance that's user designated,

[2020-09-09 11:43] tiotrom commented on #101
I'd say we need less friction for users. Meaning, if you ask users to do this and that, then you lose most of them. People want things to work. I am fine with testing which instances are better and using only a few - I am testing them on a daily basis but even so, at times some may work great, at times they may not. But asking my mother or my sister to do the same, it wont work.

@SimonBrazell is

[2020-09-09 11:49] tiotrom commented on #98
I can add that on Linux and Firefox, it opens directly the Options page for the extension. So it works perfectly fine for me.

[2020-09-09 11:59] Cade66 commented on #98
@tiotrom wrote, `I can add that on Linux and Firefox, it opens directly the Options page for the extension. So it works perfectly fine for me.`
@SimonBrazell (the developer) wrote, `Curiously though, when I click the "More Options" button on the pop-up using Firefox on my work machine (macOS), I go straight to the following page as expected`

I'm heading to a magic mystery conclusion that the "_is

[2020-09-09 12:01] tiotrom commented on #101
So, I am someone who watches youtube videos daily from many channels. We have a curated videos for our website https://www.tromsite.com/tools/videos. I can tell you that  with the randomize thing implemented Invidious for example works kinda 50% of the time. But same goes if you choose a specific instance. Which is not going to be usable for most people. Nitter and Bibliogram seem to work a lot be

[2020-09-09 16:47] ChocoTonic commented on #101
the point of changing instances on refresh is because the instance you're on may not be working as you said, which is the origin of the suggestion, so I'm not sure what point you're trying to make

[2020-09-10 00:22] SimonBrazell commented on #98
I'd say that the issue is more accurately Windows 7 + Firefox as I have confirmed the correct behaviour on Windows 10 Firefox and Chromium.

The problem with modifying the manifest file is that it applies to all environments, I thought that perhaps there was a way to do it just for Firefox but doesn't seem to be the case, all good though it's not a huge change, can add it to the next build and see

[2020-09-10 00:36] SimonBrazell commented on #101
Seems Invidious is in a bit of a state right now, may not recover given the official instance is gone and there are no developers working on the project.

I'm not sure what the solution to this is, especially if the reliability is intermittent, I'd say the extension could ping each instance periodically to see if they are available but that won't solve the problem if the instance is available but

[2020-09-10 00:41] SimonBrazell commented on #101
This actually sounds a lot like #50 as it would require making not only YT but also Invidious links trigger the redirects, also helps with #66 and persisting Invidious settings / parameters without using cookies. So I'll see what I can do, maybe make this an additional setting, something like "Redirect Invidious request to chosen instance", which would achieve what you want if I also add the pool

[2020-09-10 00:50] tiotrom commented on #101
Maybe test the instances like invidio.us does it now https://github.com/iv-org/invidious/issues/1366#issuecomment-689703070 - ping it to test it. And choose instances based on that? Redirecting invidious to other invidious instances upon refresh can also be helpful.

I think there are these issues with instances:

1. They get overloaded. Too many people trying to access them.
2. They may not work

[2020-09-10 10:52] Cade66 commented on #98
The equation is reducing; that's how a fellow resolved energy to mc^2 lol.

Yet I linger to understand why, then, Firefox extensions' `manifest.json` includes that `"options_ui"` mentioned above. What's the point if it only interferes/concerns Win7?
Maybe just not changing anything to the extension, given the non-issue of what appears to be a slight bother on Win7 only, is the best approach; I don

[2020-09-11 00:02] SimonBrazell commented on #98
The option is included as a global setting affecting all browsers and OS, it allows you to open the extension preferences in a new tab instead of the extension preferences / options page within the browser extensions UI. It's not just a fix for Win7 although I suspect it would help with your problem.

I'm not sure what to do here, my preference is to not change this or the pop-up menu, but I proba

[2020-09-11 08:41] Cade66 commented on #98
`The option is included as a global setting affecting all browsers and OS, it allows you to open the extension preferences in a new tab instead of the extension preferences / options page within the browser extensions UI. It's not just a fix for Win7 although I suspect it would help with your problem.`

I think that's quite clear, yet why this option if it were to concern only Windows 7? That's wh

[2020-09-14 01:59] tiotrom commented on #48
Can you use the health status from https://invidio.us/ for this extension so that it chooses the best instances? Lately a few invidious instances were down.

[2020-09-16 23:51] SimonBrazell commented on #48
Well at the moment the pool is just a static list of instances in the code, I could add a request to the status page at launch that  queries for good instances though.

[2020-09-17 15:53] tiotrom commented on #48
Could be great to check for health statuses and then pick the best instance based on that.

[2020-09-22 07:20] tux93 opened #104 "Twitter links are no longer redirected in Chromium"
In the dev tools console I see this error:
[code]

Plugin version is 1.1.41, chromium version 85.0.4183.102

[2020-09-24 04:40] SimonBrazell commented on #104
Hi @tux93 this must be related to a recent change I made to nitter instances, I'll fix it up in the next release.

[2020-09-25 16:49] jtagcat opened #107 "UX: One click to redirect while inactive, right click to access other settings."
For example, one click should redirect twitter to nitter. Current workflow is to either manually replace the URL or click, click to turn on, then re-enter url (ctrl+l; enter).

Right click can have toggles and custom items. For examples, STG or Container tabs. The 4 toggles could be moved there, settings could be accessed via the 5th item.

Getting more advanced, if the page is already on the targ

[2020-09-25 16:50] jtagcat opened #108 "Redirect + 'always open in this container' for the target = 2 tabs."
Quite annoying, I open a link from an external source, for each link, 2 tabs appear.

[2020-09-29 23:30] SimonBrazell commented on #108
Hi sorry I'm not sure what you're talking about here, sounds like it's caused by another extension?

[2020-09-29 23:31] SimonBrazell commented on #107
So are you suggesting having some options in a context menu (right click), what items would you want present?

[2020-09-30 04:49] jtagcat commented on #107
Mostly, I would like to move the normal menu (left click) items free, leaving a single click available for other actions.

[2020-09-30 04:50] jtagcat commented on #108
Probably a combination of Privacy redirect, and 'always open in this container' with Firefox Containers.

[2020-09-30 18:41] sbstn87 opened #109 "Add option to set default video speed on invidious"
Hi,

is it possible to add an option with a desired playback speed when redirecting to invidious?

Regards.

[2020-10-03 11:27] nihil-admirari opened #110 "Compatibility with uMatrix"
Hi.

I'm switching from [Invidition](https://addons.mozilla.org/en-US/firefox/addon/invidition/), which is no longer maintained. Its [README](https://codeberg.org/Booteille/Invidition) says that extensions using WebRequest API (such as uMatrix) need configuration since they tend to block requests before Invidition has a chance to redirect them. Invidition  does provide [a ruleset for uMatrix](http

[2020-10-04 22:04] austinhuang0131 opened #111 "Customize a list of instances to randomize from"
Related to #101, tag enhancement please

As of now, instance lists are hard-coded in `background.js`. It may be a bit complicated, but since instances may (very frequently) temporarily stop working, wouldn't it be convenient to have a customizable instance list?

[2020-10-10 01:27] PrestonN opened #113 "Add Support for Opening YouTube links into FreeTube"
Hey there! I'm the developer of [FreeTube](https://github.com/FreeTubeApp/FreeTube).

I was wondering if you could add support for opening up YouTube links into FreeTube.  I already have my own extension that works okay enough though I feel like a proper extension like this would be best for everyone.

To do this on your end, you would simply attach `freetube://` to the beginning of a YouTube link

[2020-10-12 04:29] SimonBrazell commented on #113
Hi @PrestonN sounds good, I think this has been asked for already.

To be honest I'm finding it hard to get time or the motivation to work on this project lately so this may be a while off but I will certainly do it when I do next work on the project.

[2020-10-12 04:33] SimonBrazell commented on #111
Yeah I think this is a necessity now given how unreliable  all the instances are, I'll keep this in mind when I next put some time into this project.

[2020-10-12 04:34] SimonBrazell commented on #109
Yeah sure I think it's one of the Invidious parameters, I'll look at adding this when I next work on this project.

[2020-10-12 04:36] SimonBrazell commented on #110
Hi @nihil-admirari I don't use uMatrix myself, I find it makes browsing more of a chore, but that's just me, so I'm not sure about this one, have you tried the ruleset listed for Invidition with Privacy Redirect?

[2020-10-12 04:41] SimonBrazell commented on #113
Sounds super simple, wondering if I should handle this in the UI though, also what would happen with embedded videos? Guess this could just be a simple option in the settings page to use Freetube where possible but fallback to the selected invidious instance(s) where not?

[2020-10-12 11:26] nihil-admirari commented on #110
Well, I replaced Invidition with Privacy Redirect and tested. Looks like Invidition's uMatrix rules are really necessary. Unfortunately, I encountered two problems.

First, Privacy Redirect does not intercept calls to `iframe_api` and `www-widgetapi.js`, which Invidition did:

Can you please add local copies of these two files into Privacy Redirect to make sure that no requests ever reach YouTube?

[2020-10-12 13:15] PrestonN commented on #113
What you just described is pretty much how I imagined it would be setup.  I can't offer any embedded videos so using Invidious for that would probably still be preferred.  I'm also not sure if this helps or not but FreeTube is setup to accept Invidious links as well with the same structure as the OP.

No rush on getting it done, just figured I'd log it here for the next time you work on this since

[2020-10-12 14:13] ToughGuyKunio commented on #113
Would it be possible to replace the iframe with html code, something like a grey background and a link that says "open in freetube"?

[2020-10-13 06:04] SimonBrazell commented on #110
I did have this implemented in the past in exactly the same way but Mozilla pulled my build from the store saying I can't submit builds with compiled code, I'll find a reference for you, on the mobile atm. So I removed this feature from the build rather than maintain two versions of the extension. I suspect Invidition will run into the same issue eventually if they continue submitting new builds t

[2020-10-13 06:06] SimonBrazell commented on #110
#58

[2020-10-13 06:07] SimonBrazell commented on #110
Not sure about the second problem, haven't encountered this myself, have you tried a different instance?

[2020-10-13 06:13] SimonBrazell commented on #113
Yeah that would be possible, that's also similar to something that was requested in the past, a good suggestion I think.

[2020-10-13 06:14] SimonBrazell commented on #113
Thanks @ToughGuyKunio 🙂

[2020-10-13 11:15] tiotrom commented on #111
Yes this can be a solution! Like I suggested before the best idea would be to pull instances from external lists that are maintained by others - they can check them, edit them, and all that. So the Privacy Redirect does not have to deal with all of these. I am one of those who can keep an eye on these instances and even find more, if it would be an easy way for me to do that.

[2020-10-13 17:46] nihil-admirari commented on #110
Ok, I see. I maybe asking too much, but could you try to repackage these files with minor modifications? Mozilla reviewer was dissatisfied with the code written by Google engineers:
[code]
What if instead of providing a verbatim copy of <https://youtube.com/iframe_api>, addon asset had a slightly patched one:
[code]

I had success with <https://invidious.fdn.fr>. <https://invidious.ggc-project.de>

[2020-10-14 02:49] atomGit opened #114 "feature: support YouTube to LBRY redirect"
possible example code here: [Watch on LBRY](https://addons.mozilla.org/en-US/firefox/addon/watch-on-lbry/)

[2020-10-14 17:59] TheFrenchGhosty commented on #50
Any news @SimonBrazell ? This is really the only thing missing to Privacy Redirect for me.

[2020-10-18 19:38] btdmaster opened #115 "Redirect reddit.com to i.reddit.com and/or old.reddit.com."
Yes, I am well aware that both of those are imperfect when it comes to privacy. However, they are a _clear_ improvement over the new interface. Perhaps this could be set as an opt-in?

My personal biased opinion is in favour of https://i.reddit.com (looks to have less tracking and bloat) but https://old.reddit.com is still better than the redesign at https://reddit.com.

But because randomly selec

[2020-10-19 05:12] ToughGuyKunio commented on #115
There's a PR for this: https://github.com/SimonBrazell/privacy-redirect/pull/102

[2020-10-26 03:06] SimonBrazell commented on #115
Hi @btdmaster as @ToughGuyKunio mentioned, there is a PR for this already, I need to work out how I want to fit this into the UI before I merge and release this change though. In the middle of moving house atm so no time unfortunately 🙁

[2020-10-26 03:15] SimonBrazell commented on #50
Hi @TheFrenchGhosty no progress, I'm busy with life stuff at the moment 🙂

[2020-10-26 03:17] TheFrenchGhosty commented on #50
@SimonBrazell Sure, life goes first obviously. I hope everything is fine :)

[2020-10-26 03:18] SimonBrazell commented on #50
Yeah all good, just moving house, should be all setup and ready to work on this project again in the next week or two.

[2020-10-30 11:12] freaktechnik opened #117 "Allow disabling on specific host/don't break google maps embeds"
The current open street map redirect breaks google map embeds. There's two solutions, thus the extremely long title. One would be to solve the embeds being broken issue. But a potentially more generic and working around other issues too solution would be to allow disabling the redirects on a per-host basis, similar to how you can disable tracking protection or an ad blocker for a specific website.

[2020-11-04 11:07] #99 closed

[2020-11-04 11:07] #104 closed

[2020-11-04 11:07] #113 closed

[2020-11-04 11:32] SimonBrazell commented on #117
Hi @freaktechnik good suggestion, I like the workaround, I really should fix up some of the issues with the maps redirects though, or at the very least turn them off by default and mark them as experimental or something...

[2020-11-04 20:51] SimonBrazell opened #119 "Incorrect Chinese (China) Language Code Used"
Should be `zh_CN` not `zh-CN`, see #116

[2020-11-04 21:06] SimonBrazell commented on #113
This should be working now, activated via a new setting in the "Advanced" options tab. Embeds (`sub_frame`) redirect to Invidious as usual while any direct links (`main_frame`) should open in FreeTube.

FreeTube is fantastic btw @PrestonN, had a play with it while testing this change, going to be using it from now on 🙂

[2020-11-04 21:39] SimonBrazell commented on #111
I was thinking of just making the random instance lists configurable via the options, rather than hard coded as they are currently, then users can add whatever they like. However if you want to maintain a list of working instances that would certainly help, I've just been using the list on [https://invidio.us/](https://invidio.us/) but they are still fairly unreliable it seems.

[2020-11-04 22:17] austinhuang0131 commented on #111
An easy solution would be parsing `a.com; b.com` for each instance address field

[2020-11-05 00:01] SimonBrazell commented on #111
Yeah I was thinking of either

- extending the existing instance inputs, allowing entry of comma separated values as well as single instances or

- adding a new input that exposes the currently configured random instance pool, also comma separated.

[2020-11-05 00:21] tiotrom commented on #111
I think an external list of urls would be great since I and others can help to keep it updated. But needs to be easy to edit, maybe like a "vote" system saying this works, this doesn't. Idk....

[2020-11-05 00:34] SimonBrazell commented on #111
Could maybe just use a Github wiki page perhaps?

[2020-11-05 01:35] austinhuang0131 commented on #111
Maybe as a separate repo (it could be of interest for other people) with markdown tables.

Probably not privacy-friendly to keep pinging the list, so static markdown files are enough.

[2020-11-05 11:28] tiotrom commented on #111
Would be great to have a way to "vote" or something the like, so that we can, in time, give a score to which ones are more reliable or not. If that's too complicated then I can help with whatever even if it is a github wiki page. I can remove the ones that do not work and update with the ones that work, since I am using Invidious daily.

[2020-11-05 16:11] austinhuang0131 commented on #111
You can use issue reactions to vote

which is why it should use a different repo

[2020-11-05 16:26] PrestonN commented on #113
Thank you!  Looks like the implementation works very well, it's much appreciated!  I'll be switching over to your extension now and will likely deprecate the extension that I was supporting.

Feel free to ping me if anyone mentions any issues related to this and FreeTube.  99% of the time the issue's I've seen reported about my extension have been issues about FreeTube itself and not the extension

[2020-11-05 22:47] SimonBrazell commented on #113
No worries, will do!

[2020-11-07 14:51] ToughGuyKunio opened #122 "FreeTube opens without clicking on link"
It seems FreeTube can be opened by just visiting a site (not clicking on a link).
When I visit https://feber.se/ it opens FreeTube, after that FreeTube keeps loading for a long time, and finally gives an invidious error message.

[2020-11-08 04:14] SimonBrazell commented on #122
Just tried this out, only seems to affect Firefox, I know what it is, there is a request going out for the YouTube player API which triggers the redirect. Need to change the filter so that it only redirects to FreeTube for the `main_frame` context. I'll fix it up in the next release.

Thanks @ToughGuyKunio!

[2020-11-08 06:27] anyone00 opened #123 "Can't open youtube links with FreeTube in Firefox"
Thanks for adding the FreeTube option in Privacy Redirect it is much appreciated, but on one of my machine it does not work:

Firefox give this error:

Archlinux freetube-git AUR package
Firefox 82.0.2
Privacy Redirect 1.1.42

I've tried removing both Firefox and Privacy Redirect. And recompiling from the AUR package freetube-git and installing them again. but still I get the same error

[2020-11-08 06:57] SimonBrazell commented on #123
Hello @anyone00 which URL are you attempting to redirect? I'll try it out on my machine.

[2020-11-08 07:03] #119 closed

[2020-11-08 07:15] anyone00 commented on #123
I've tried many URL but it still gives me the same error!

So far I've tried:

[code]

[2020-11-08 07:19] SimonBrazell commented on #123
Those links work for me in Firefox and Chrome, perhaps it's a problem with FreeTube itself?

@PrestonN have you encountered this before?

[2020-11-08 07:42] sbstn87 opened #124 "Add Yotter support"
Hi,

could you add [Yotter](https://github.com/ytorg/Yotter) support for YouTube redirects?

[2020-11-08 08:06] anyone00 commented on #123
could it be an archlinux problem or the packaging?

[2020-11-08 08:21] anyone00 commented on #123
I've used it on ubuntu and there's been no problem

[2020-11-08 08:24] SimonBrazell commented on #123
Yeah I'd say this is not likely to be an issue with this extension, I'd open an issue on the [FreeTube repo](https://github.com/FreeTubeApp/FreeTube).

[2020-11-08 09:03] anyone00 commented on #123
I've tried all AUR packages:

[code]

all have the same issue!

I'll try to contact the maintainer of AUR packages

Thanks!

[2020-11-08 09:03] #123 closed

[2020-11-08 10:13] SimonBrazell commented on #16
Got an email this morning from a developer asking for my help with their own extension based on this one that implements a search engine redirect, I submitted [some code changes](https://github.com/bluelockorg/Blue-Privacy-Extension/pull/1) to get it working on Firefox, also asked them to consider creating a pull request to add this feature to Privacy Redirect.

[2020-11-08 10:16] #111 closed

[2020-11-08 10:23] SimonBrazell commented on #48
I've just added the ability to configure the random instance pools via the options menu in v1.1.43.

[2020-11-08 10:24] SimonBrazell commented on #122
This should be fixed in v1.1.43.

[2020-11-08 10:24] #122 closed

[2020-11-08 10:24] SimonBrazell commented on #115
I've merged the reddit redirect PR as part of v1.1.43.

[2020-11-08 10:24] #115 closed

[2020-11-08 10:45] SimonBrazell commented on #124
Don't know much about Yotter myself, are there any existing extensions that use it?

[2020-11-08 11:37] sbstn87 commented on #124
Yes, there's one:
https://addons.mozilla.org/en-US/firefox/addon/youtter/

[2020-11-08 14:43] ToughGuyKunio opened #125 "Splitting advanced tab (discussion)"
For me the advanced tab in v1.1.43 seems a bit cramped/messy. One suggestion would be to separate the advanced tab section into three different tabs, one tab per service: "Invidious", "Nitter" & "Bibliogram".
This makes it easy to find what you are looking for. The boxes for entering instances could also be made larger, making changing instances a bit easier. Another benefit is that it leaves plen

[2020-11-08 14:52] ToughGuyKunio commented on #125
Another suggestion that I think would be helpful is adding descriptions and examples. For example what "proactively remove twitter service worker" does and what "RegExp" is and an example of RegExp usage. Could either be a text under or a mouse-over feature.

[2020-11-08 19:26] PrestonN commented on #123
Hey there, as @SimonBrazell mentioned, this is not an issue with this extension.

I do not maintain the AUR packages, and can't guarantee that they'll work with a browser extension.  FreeTube needs to be able to register the `freetube://` protocol on your system in order for the browser to know where to send the YouTube link to.  This protocol is not registered with portable versions of FreeTube,

[2020-11-09 05:53] ToughGuyKunio commented on #48
Just found this [Invidious Switcher](https://github.com/cloudrac3r/invidious-switcher) by @cloudrac3r - "Invidious Switcher is a node.js module that automatically monitors Invidious instances and routes your requests through the best instance automatically". Maybe this could be used?

[2020-11-09 06:52] SimonBrazell commented on #124
No worries, I'll add this to the pile 🙂

[2020-11-09 06:55] SimonBrazell commented on #125
Yeah was thinking the same too, that's why I added sub-headings in v1.1.43 but still pretty cluttered.

The reason for the current limited space is that we are using the browser preferences page, will have to move it to a separate tab instead to give us more options / space.

[2020-11-09 07:09] SimonBrazell commented on #48
Great find, I'm not using any NPM modules currently in the project though so I'd have to restructure it a bit for that, just pure JS at the moment which I'm enjoying as it's a bit of fun after using the node.js ecosystem on all other projects I do, but the project could probably benefit from the world of JS packages out there.

[2020-11-09 12:23] tiotrom commented on #16
Oh wow super cool! What I would recommend tho is to use SearX instances only, since the other ones like startpage or duckduckgo insert ads into the search results, making people click biased search results. in that sense they are not different from google. SearX has none of that.

[2020-11-09 12:25] tiotrom commented on #48
I think this is by far the best approach.

[2020-11-09 13:03] cloudrac3r commented on #48
I'm not sure if it's still good code or works well with the current release of Invidious, since I put it together about a year ago. I don't think I have the time to revise year-old code, but somebody should do an investigation to see if it still seems to work correctly.

A better way of doing this would be to redirect the user to some instance, and then read the actual page that gets loaded. If it

[2020-11-09 13:06] tiotrom commented on #48
That's exactly what I proposed a few months ago. Is there a reliable way to detect a broken instance? Also, what about too many redirects in case many instances do not work?

[2020-11-09 13:11] cloudrac3r commented on #48
To detect a broken instance, wait for the page to finish loading, then see if it has a <video> player in it? /shrug

I think it's okay to keep automatically redirecting until we find a working instance or we run out of instances from the list. In that case, perhaps we could insert a notice into the page explaining what happened.

As a side note, if an instance does work it would be sensible to rem

[2020-11-09 22:04] SimonBrazell commented on #16
Perhaps I'll make SearX the default then and leave the others there for the user to select if they wish.

[2020-11-09 22:11] SimonBrazell commented on #48
@cloudrac3r this is indeed a good approach, the background page that performs the redirects does not have access to the page DOM though so it would have to be a separate content script that is loaded on Invidious domains instead. Doing this would not improve the reliability of embedded redirects though, just direct links to invidious.

[2020-11-09 22:42] tiotrom commented on #16
Ok but I think when you insert ads into search results it is simply deceiving the users to click some websites. SearX uses all of the other search engines so I am not sure why you would need them...SearX uses DuckDuckGo, Startpage, Google, Bing and a lot more...and works amazingly great. We use them daily for our work. I personally suggest only leaving the SearX instances.

[2020-11-09 22:47] SimonBrazell commented on #16
Good point, I more just wanted to leave them there so that people know they work if they happen to not want to use SearX for some reason.

[2020-11-09 22:49] tiotrom commented on #16
I would be curious why they would not want to use SearX :D - but ofc, as you prefer. Just saying we run a SearX instance ourselves and for our custom operating system TROMjaro and all works super great. Plus, so many SearX instances out there...

[2020-11-09 22:53] SimonBrazell commented on #16
Yeah I'm not sure why either but an example of this happening is available in the submitted source code, where the developer has given the following options for redirects:

[code]
SearX isn't included in the options at all.

[2020-11-09 22:55] SimonBrazell commented on #16
Can you provide a shortlist of instances to include?

[2020-11-09 22:59] tiotrom commented on #16
I think people do not use SearX since changing your default search engine may be an inconvenient thing to do. I do research online for books and documentaries so I search a lot: from images to videos, news websites or research papers. All works fine really.

For a list, we use our own instance mainly https://tromland.org/searx/ and these are reliable too from our tests:
- https://search.snopyta.or

[2020-11-09 23:03] SimonBrazell commented on #16
Good stuff, I'll include these in the list of suggestions and to simplify things I will probably not include the other providers as it's easier to keep the random pool list the same and I don't want to be redirecting people to providers randomly that may deceive users. Thanks for the heads up.

[2020-11-09 23:03] tiotrom commented on #16
Awesome! This is super great that you include SearX! :) I am so happy!

[2020-11-09 23:05] SimonBrazell commented on #16
The PR still needs some work though, so I'll need to spend some time on it when I next have some spare, but hopefully I'll get it working and released in the next couple of days.

[2020-11-09 23:06] tiotrom commented on #16
You're awesome! Such an awesome extension! As I said we use it in TROMjaro as default!

[2020-11-09 23:23] tiotrom commented on #96
Heads Up, the original github link of the extension is not maintained anymore, but this is https://github.com/gchenfc/sci-hub-now - I would so love to see SciHub in your privacy redirect list. This one is great because users can change the sci-hub instance in their preferences so I'd imagine you can force that in the code!? Here are the sci-hub instances that work:

- https://sci-hub.st/
- https:/

[2020-11-12 23:14] SimonBrazell opened #128 "Show a new tab containing the CHANGELOG after update"

[2020-11-14 07:23] unixfox opened #129 "Why yewtu.be was removed from the list?"
It seems like it got removed in this commit: b3d6918e337753902109ede2514fbc5aab282b66

[2020-11-14 09:36] SimonBrazell commented on #129
Because it doesn't seem to work with embedded videos, console shows the following error when `https://yewtu.be` is set as the instance:

`Refused to display '<URL>' in a frame because it set 'X-Frame-Options' to 'sameorigin'.`

Which indicates that the site maintainers have purposely tried to limit iframe / embed usage by setting the above response header.

If you want to continue using it yoursel

[2020-11-14 11:02] unixfox commented on #129
Good catch @SimonBrazell! Can you try again if it works now?

[2020-11-14 11:57] SimonBrazell commented on #129
I just tried it, the above error doesn't occur anymore but now it gets stuck on the anti-bot protection, where it counts down for 5 seconds, but instead of redirecting to the video after it just starts the count again.

![Screen Shot 2020-11-14 at 10 51 53 pm](https://user-images.githubusercontent.com/16571951/99146460-861a8180-26cc-11eb-843b-5f3462339456.png)

At first I thought this was because

[2020-11-14 12:44] unixfox commented on #129
Your browser or an extension is probably denying third party cookies. Try without extensions or if you are on Firefox set "cookies" to "cookies from unvisited websites":
![2020-11-14_14-40](https://user-images.githubusercontent.com/4016501/99147164-8c7e0e80-2676-11eb-8e65-48eb2e0b5d5f.png)

You can see on this gif that it works when third party cookies are allowed:
![Peek 2020-11-14 14-37](https:/

[2020-11-14 13:07] SimonBrazell commented on #129
Yeah makes sense, that's my personal browser so its kinda locked down more than the others I'd typically use for testing.

Hmmm wondering if I should add it back to the list knowing that its not going to work for some people though?

[2020-11-14 13:26] SimonBrazell opened #130 "Change the project license to a Copyleft license"
Submitted via email.

I'm open to changing the license although I think I need to get permission from all the contributors now as they contributed their code under the existing license and may not want it changed, anyone else have experience with a situation like this?

[2020-11-14 13:44] unixfox commented on #129
Don't worry I've got the same setup, it didn't work on mine, so I had to switch to blocking "cookies from unvisited websites". It's not a big deal because my extension "Cookie AutoDelete" delete every 15 seconds the cookies that I don't want.

Well technically on Firefox it is stipulated that it will break some websites, so if it doesn't work for some people then these people know how to solve the

[2020-11-14 14:24] ToughGuyKunio opened #131 "FreeTube can't open playlists"
It's not possible to open YouTube playlist URLs with FreeTube.
I think this is a FreeTube issue so I originally [posted it there](https://github.com/FreeTubeApp/FreeTube/issues/502#issuecomment-725443599). But I'll add it here too so we can keep track of it.

[2020-11-14 17:44] pravi commented on #130
@SimonBrazell https://softwareengineering.stackexchange.com/questions/105912/can-you-change-code-distributed-under-the-mit-license-and-re-distribute-it-unde explains the situation well.

Basically you have to keep the original copyright notices for works contributed by others. The combination can be under GPL.

[2020-11-15 00:22] SimonBrazell commented on #130
Thanks for the info @pravi

I think I understand but how would I actually implement something like this? Is it just a matter of replacing the existing `LICENSE` file with the new one, merging them, or something like that in the next commit or is it more involved than that?

I don't understand why they didn't teach us more about software licensing at school, would have been very practical info to h

[2020-11-15 06:01] seth1 opened #132 "nojs option for invidious"
relatively simple, an option to add this to the end of a url:
&nojs=1

Invidious uses this to preload the first page of comments for browsers that have js disabled.

Thanks for all your work.

[2020-11-15 07:45] B0pol commented on #129
@SimonBrazell that instance that requires to lower browser privacy features (from blocking third-party cookies to unvisited websites), and runs non-free software (the anti-bot protection). Do you really want to add it back?
The people using yewtu.be could add it in extension settings.

[2020-11-15 08:17] pravi commented on #130
The fastest way would be,

1. Add copyright notices with MIT/Expat license to any files contributed by others (if they are significant contributions). Those files will remain under MIT.
2. Make the global LICENSE to GPLv3+ (so all files that you have authored will get the new license and the entire project will get GPLv3). Result of combining MIT/Expat with GPLv3+ is GPLv3+ for the combination.
3.

[2020-11-15 09:33] unixfox commented on #129
That's a false claim, if the user is using cookie autodelete (like most of the privacy conscious users) this will have the same effect as blocking third-party cookies because in the end the unwanted cookies will be discarded.

Moreover, the setting `switch to unvisited websites` is still a strong privacy setting because the browser will only store third-party cookies from websites that the user de

[2020-11-15 11:25] ToughGuyKunio commented on #130
Just a question, is GPLv3+ permitted in the Chrome and Edge stores? I remember reading that using GPL was problematic in some app stores.
Also what version of GPL would be best suited? Found this summary:
- LGPL: If you publish the software, you have to do the same for its source code.
- GPL: If you publish the software, you have to do the same for the source code of it and any connecting software

[2020-11-15 14:17] pravi commented on #130
@ToughGuyKunio I could not find any information when searching online about specific licenses being not allowed on these stores.

I would suggest GPL. It will only prevent someone from distributing both together even if that is considered a derivative work (using a GPL software with a proprietary software as a combined program is not prevented). GPL kicks in only if you distribute a derivative wor

[2020-11-15 14:20] pravi commented on #130
https://softwareengineering.stackexchange.com/questions/224161/gpl-writing-an-exception-for-a-plugin-interface-under-section-7-of-gplv3

"As a special exception, the copyright holders of QCAD hereby grant permission
for non-GPL compatible plug-ins and script add-ons to be used and distributed
together with QCAD, provided that you also meet the terms and conditions of the
licenses of those plug-ins

[2020-11-16 05:15] SimonBrazell commented on #130
I think in our case this might be the way to go as there isn't too many contributors.

Thanks @pravi !

[2020-11-16 05:24] SimonBrazell commented on #130
One last thing before I request the change, which license do you guys recommend?

I was thinking GNU General Public License v3.0

[2020-11-16 05:24] SimonBrazell commented on #130
Also maybe I will just mention all the contributors here to keep it all in the one place.

[2020-11-17 13:35] unixfox commented on #129
A lot have been changed since two days on https://yewtu.be:
- I removed my antibot solution. The iframe should work whatever browser setup you have, whenever you enforce blocking third-party cookies or not.
- 5 process of Invidious are now running at the same time, this should resolve some slow downs that often occurred during the night and make the experience a lot smoother.

[2020-11-18 20:42] SimonBrazell commented on #130
Dear contributors ( @TotalCaesar659 @austinhuang0131 @nitrohorse @MichipX3 @ueberchild @mleyen @johnp @emilio @ToughGuyKunio @B0pol )

I'm seeking your permission to change the license this project is released under from its current `MIT License` to the `GNU General Public License v3.0` in order to bring the project in line with the copyleft principle.

If you agree or disagree to this change plea

[2020-11-18 20:45] austinhuang0131 commented on #130
Given that we're not talking about a library (that is used by other software) but an "end product", I'd say you should switch to GPLv3. After all Chrome fee is only $5 and copycat can be easily made, but GPLv3 will lower the reward of doing so and will also prevent the chance of malicious forks being distributed (since you can just copystrike for source code violations *in addition to* malware stu

[2020-11-18 21:37] B0pol commented on #130
@SimonBrazell I agree with the licence change to GPLv3

[2020-11-18 22:27] emilio commented on #130
I'm fine with the change as well, thanks for checking :)

[2020-11-19 00:44] nitrohorse commented on #130
Sure thing, +1 from me 👍🏼

[2020-11-19 06:57] ToughGuyKunio commented on #130
I agree with the change!

[2020-11-19 07:08] redow81118 opened #134 "Give Peertube and Lbry redirect priority or delay over invidious instances"
This will reduce the load on invidious instances when possible video is available on peertube and lbry. Also it will be good to add custom lbry - peertube instances for randomization as dev has given for invidious instances. Possible solutions are here

for lbry - https://github.com/kodxana/Watch-on-LBRY
for peertube - https://gitlab.com/Cha_deL/peertubeify

[2020-11-19 14:20] TotalCaesar659 commented on #130
@SimonBrazell I agree with changing the license from MIT to GPLv3.

[2020-11-25 11:10] Atrate opened #135 "Bug: Opening links from users with "tweets" in the name is buggy"
When using PR to redirect from twitter to nitter.net, opening links when people's usernames have "tweets" in them breaks the redirect. Could also occur for some other keywords.

Example:
https://twitter.com/tweetsauce/status/1331389217688043520?s=20
gets redirected to
https://nitter.netauce/status/1331389217688043520?s=20
which is a broken link.

[2020-11-28 15:41] ToughGuyKunio opened #137 "There's now a privacy focused Reddit frontend!"
From about:

No JavaScript or ads
All requests go through the backend, client never talks to Reddit
Prevents Reddit from tracking your IP or JavaScript fingerprint
Lightweight (teddit frontpage: ~30 HTTP requests with ~270 KB of data downloaded vs. Reddit frontpage: ~190 HTTP requests with ~24 MB)"

This should perhaps be the default for this extension?

URL: https://teddit.net/
Git: https://codeb

[2020-11-28 15:42] ToughGuyKunio commented on #137
Also I've done some quick testing and it seems to work already with the extension.

[2020-11-28 16:57] erotavlasme commented on #137
I agree, it would be useful to have it into privacy redirect.

[2020-11-29 14:35] ToughGuyKunio commented on #125
Another one: I was thinking that it might be better or more future proof to rename "Invidious redirect" to "YouTube redirect", "Nitter Redirect" to "Twitter redirect", etc, in the settings.

It make sense since there are several supported alternatives/frontends for YouTube, Reddit and Google Search. In the future there might be other frontends for the other services as well.

Perhaps "Nitter insta

[2020-11-29 15:40] joshbowyer commented on #137
I agree with all of the above. It does handle pictures from i.reddit.com differently, but that looks very simple as well ( i.reddit.com/whyzfg.jpg becomes teddit.net/pics/w:null_whyzfg.jpg )

[2020-12-01 07:38] sith-on-mars opened #139 "Open embedded YouTube video in FreeTube"
It would be very nice if Privacy Redirect can open embedded YouTube video in the FreeTube app. In my experience, most of the YouTube videos are now embedded, but right now the FreeTube redirect function only works for opening YouTube video links directly and doesn't work for embedded videos. Other than that, I think FreeTube has a brighter future than Invidious, since the development of Invidious

[2020-12-02 22:12] SimonBrazell commented on #130
Still waiting on approval from @MichipX3 @ueberchild and @mleyen before I can go ahead with the change.

[2020-12-02 22:13] SimonBrazell commented on #135
No problem I'll have a look at this when I next work on the project.

[2020-12-02 22:14] SimonBrazell commented on #137
Great find! I'll definitely add this to the project.

[2020-12-02 22:16] SimonBrazell commented on #139
Yeah such a shame about Invidious... Only problem with this is if you navigate to a site with loads of embedded videos, like in a feed or something, you'd be spammed by browser requests to open the link in FreeTube.

[2020-12-02 22:17] SimonBrazell commented on #134
No problem I'll look into it.

[2020-12-02 22:17] SimonBrazell commented on #132
Sure, I'll add this when I next work on the project.

[2020-12-02 22:21] SimonBrazell commented on #131
Yes I've noticed this too.

@PrestonN would this be an issue with the way the extension is redirecting playlist requests or is this an issue with FreeTube itself?

[2020-12-02 22:23] #129 closed

[2020-12-02 22:26] #137 closed

[2020-12-02 22:28] SimonBrazell commented on #125
Yeah probably a good idea, cheers!

[2020-12-02 22:40] PrestonN commented on #131
This is an issue with FreeTube itself.  Our URL parser isn't taking playlist URLs into account properly and needs to be updated.  Once it's updated with FreeTube then it'll work with Privacy Redirect.

Since the issue is logged over on FreeTube, this issue can be closed.

[2020-12-02 22:46] SimonBrazell commented on #131
Thanks @PrestonN and @ToughGuyKunio for chasing this up.

[2020-12-02 22:46] #131 closed

[2020-12-04 04:20] grravity commented on #139
Invidious is buggy, but development has not stopped.

[2020-12-04 04:21] grravity opened #140 "Fenix/Fennec Android Support"
Requesting support for Fenix/Fennec for Android

[2020-12-04 04:25] grravity opened #141 "Cross Instance Persistent Themes and Settings"
Requesting the ability to set themes on the redirect sites that support it, for example Bibliogram has different themes to choose from. My suggestion being to have all Bibliogram instances that a user visits, use that theme. Not sure entirely how this would be implemented (specifically detection of a Bibliogram instance).

Even better if settings can be applied cross instances as well.

I can unde

[2020-12-04 04:28] grravity commented on #110
I haven't had any issues personally using uMatrix, as long as you don't block the domain.

For example if you set uMatrix to block Twitter domains, it won't redirect to Nitter because it didn't reach Twitter to actually send the redirect.

I assume this is what OP is suggesting, and it would be nice if a way could be had that made it so that domain didn't have to be whitelisted to redirect. Howeve

[2020-12-04 04:31] ToughGuyKunio commented on #140
Isn't Fenix only using Mozilla approved extensions?

[2020-12-04 04:42] grravity commented on #140
I thought it was just a limitation they haven't unlocked yet and developers needed to tweak appropriately to get the extension on. Could be totally wrong though.

[2020-12-04 04:49] SimonBrazell commented on #140
Hi @grravity I wish the extension worked on Fenix also as I use a variant of it myself, but last time I checked it was only a very slow growing list of AMO approved extensions that worked, I'm not sure if or when this will change, pretty frustrating direction for them to take I think...

So even if this extension were on the approved list (which it isn't), it would be anyone's guess as to when sup

[2020-12-04 15:21] mleyen commented on #130
I approve of the change to GPLv3.

[2020-12-04 15:34] grravity commented on #140
Shame, but yeah it is really slowly growing. It's personally frustrating not to be able to have uMatrix either.
thanks for the response

[2020-12-04 15:34] grravity commented on #137
Just came to suggest this, glad to hear

[2020-12-04 17:21] sith-on-mars commented on #139
I think there are two ways for redirecting to FreeTube when there are multiple embedded videos.

One way is to have a pop-up windows which asks you which video you want to play in FreeTube. A lot of download managers work in the similar way to deal with the situation in which there are multiple download links.

Another way is to redirect videos to Invidious first, then redirect Invidious videos to

[2020-12-05 07:17] ueberchild commented on #130
@SimonBrazell approving

[2020-12-05 11:58] SimonBrazell commented on #130
Thanks everyone, looks like it's just @MichipX3 now, who looks to have contributed the Polish language transition, I'll give it a little more time.

[2020-12-05 14:44] sbstn87 opened #142 "Add teddit support"
As per the ghacks article:
https://www.ghacks.net/2020/12/05/teddit-browse-reddit-in-a-privacy-preserving-way/

"[teddit](https://teddit.net/)  is a web frontend, unlike many others that are available only on mobile devices. You can load the site using any web browser to access Reddit's content.

The core difference between Teddit and Reddit is that the former does not track users and that it has